[2018-09-06 10:02] jcelerier opened #1 "build scripts / docker image ?"
Hello,
would you happen to have the build scripts that you used to build these compilers ?

Thanks for the great work !

[2018-09-06 15:43] abhiTronix commented on #1
@jcelerier Thanks for your interest, I may work on the script by tomorrow. But _**Building Docker image may take some time**_. However, Any PRs are most welcomed! :)

**Also I will change source files in next update to some other website as I'm currently using github's LFS support bandwidth to upload files to github, whose limit is now over.**

[2018-09-06 16:18] jcelerier commented on #1
no problem, I have scripts almost ready but I miss the raspberry sysroot, that's how I stumbled on your projects.
Here's what I use to build gcc :

[code]

followed by

[code]

[2018-09-06 16:28] abhiTronix commented on #1
@jcelerier, Thanks for this but the main goal of this repo is to Skip the compiling part(_Zero effort_) in the first place. Binaries provided are already compiled_(**Precompiled** as mentioned in the title)_ with Rpi supported compiler flags, You can, however, if you require any additional language support/feature, you are always welcomed.

[2018-09-06 16:59] jcelerier commented on #1
why ? let's put it bluntly: the point of having scripts / dockerfiles is that other people will still be able to produce newer binaries easily if, e.g. tomorrow you get hit by a bus and GCC 9 comes out. Besides, with a script, you can setup continuous integration so that binaries are built automatically from the latest GCC source for instance instead of doing it yourself.

Thanks for the link, it'

[2018-09-06 17:19] abhiTronix commented on #1
@jcelerier Yes, you're correct, But I created this repo. to simplify things, So that others may not have to compile/recompile same stuff everytime they need binaries. Some good scripts are available all over the internet, but it required on the go tweaking and stuff to reach the desired output according to my experience. Also, not all GCC compilers flags/compiling is similar, so it adds to the com

[2018-10-30 03:23] zouchry opened #2 "download failed"
I used " https://media.githubusercontent.com/media/abhiTronix/raspberry-pi-cross-compilers/master/gcc-8.2.0.tar.bz2" command to download the target file, got the 404 error. can you help me to solve the problem? Thanks!

[2018-10-30 08:43] abhiTronix commented on #2
@zouchry I'm moving files to Sourceforge soon.

[2018-10-31 13:07] abhiTronix commented on #2
@zouchry

 The issue is resolved now, **Updated SourceForge Link in the ReadMe Section**. Good luck :+1:

[2018-10-31 13:08] #2 closed

[2019-01-10 10:53] avilleret opened #3 "cross-compiler 8.2.0 doesn't have {sysroot}/usr/include in its header search path"
with your 8.2.0 compiler I got :

[code]

while with the 8.1.0 I installed from archlinux repo I have :

[code]

Please note that in the second case, `#include <...> search starts here:` lists `/home/antoine/dev/ofnode/sysroot/usr/include` while the first (8.2.0) doesn't.

While I can manually add the include path with a `-I` flag, it makes this compiler hard to use with CMake which strips off "${

[2019-01-10 13:09] abhiTronix commented on #3
@avilleret  Can share the `GCC 8.1.0` link that you tried from archlinux repo?

[2019-01-10 13:37] avilleret commented on #3
it's in AUR repo : https://aur.archlinux.org/packages/arm-linux-gnueabihf-gcc/

[2019-01-10 14:07] abhiTronix commented on #3
@avilleret  I thought you're using custom Cross-Compiler similar this repo. ,

The main reason behind this bug/error is that the Official Cross Compiler install files directly to the system root directory, i.e `/usr/` or `/usr/local/` and Cmake is made explicitly to work with such configurations only and not for custom paths/configurations. Therefore custom Cross-Compiler(like provided here) fails

[2019-01-10 14:34] abhiTronix commented on #3
@avilleret  They're working on a fix here(in progress): https://gitlab.kitware.com/cmake/cmake/merge_requests/2716

[2019-01-10 14:37] avilleret commented on #3
it is indeed possible to use your Crosscompiler build with CMake (and I thanks you a lot for sharing)
I have to disable the CMake's implicit directory feature by injecting the following lines into my toolchain file

[code]

I was unsure if its a bug (or a feature) of CMake or if it's a lake of configuration on your side.
Now I'm fixed :-)
Thanks for the quick reply, thanks for the explanation, and

[2019-01-10 14:41] #3 closed

[2019-01-25 18:49] mitza-oci opened #4 "Hardcoded paths in linker scripts"
The following linker scripts assume the crosscompiler is installed in `/opt/cross-pi-gcc`
[code]

[2019-01-25 19:20] jimcruse opened #5 "Textinfo vs texinfo"
Documentation show module texTinfo needed - no such module found by apt-get
There is texTinfo

[2019-01-25 23:03] jimcruse commented on #5
Textinfo vs texinfo

[2019-01-26 04:51] abhiTronix commented on #5
Fixed in https://github.com/abhiTronix/raspberry-pi-cross-compilers/commit/17c9e29224594648f934a4b5c279413151bc0b44

[2019-01-26 04:51] #5 closed

[2019-01-26 05:03] jimcruse opened #6 "Ln directions do not show ln from /opt but only from /usr"
The link from to final should be from /opt not /usr

[2019-01-26 05:06] abhiTronix commented on #6
@jimcruse Are you using Native binaries(.i.e for Raspberry Pi) or Cross-Compiler(i.e. for Linux)?

[2019-01-26 05:13] jimcruse commented on #6
Native for pi

On Fri, Jan 25, 2019, 9:06 PM Abhishek Thakur <notifications@github.com
wrote:

[2019-01-26 05:35] jimcruse commented on #6
From /usr/lib/arm-linux-gnueabihf/crtn.o should be /opt .....

On Fri, Jan 25, 2019, 9:24 PM Abhishek Thakur <notifications@github.com
wrote:

[2019-01-26 05:42] abhiTronix commented on #6
@jimcruse,

You are understanding this wrong,

As mentioned, In Readme:
[code]

That is because my GCC files expect those files to be in `/usr/include location` not `/usr/include/arm-linux-gnueabihf`or similiarliarly for libararies `/usr/lib location` not `/usr/lib/arm-linux-gnueabihf` and **There is no need to create `/opt` files symbolic links beause it is already in system path** with step in R

[2019-01-26 05:53] #6 closed

[2019-01-26 17:20] jimcruse opened #7 "Exec format error when trying execute gcc-8.2.0"
After all the setup I now get an exec format error
I now get an: root@raspberrypi:/home/pi/gcc_all/cross-pi-gcc-8.2.0/bin# .arm-linux-gnueabihf- gcc-8.2.0 bash: ./arm-linux-gnueabihf-gcc-8.2.0: cannot execute binary file: Exec format error

[2019-01-26 17:47] jimcruse commented on #6
After redoing the setup

root@raspberrypi:/home/pi/gcc_all/cross-pi-gcc-8.2.0/bin# ./arm-linux-gnu
eabihf-
gcc-8.2.0
bash: ./arm-linux-gnueabihf-gcc-8.2.0: cannot execute binary file: Exec
format error
root@raspberrypi:/home/pi/gcc_all/cross-pi-gcc-8.2.0/bin# exit

On Jan 25, 2019 9:53 PM, "Abhishek Thakur" <notifications@github.com> wrote:

Closed #6
<https://github.com/abhiTronix/raspberry-pi-cr

[2019-01-30 18:39] #7 closed

[2019-02-01 17:15] mitza-oci commented on #4
The idea of eliminating hardcoded paths is that a user without write permissions in `/opt` could still use it (for example, in the home directory).

[2019-02-02 15:48] abhiTronix commented on #4
@mitza-oci That might result in broken binding, if not careful. I'll consider implementing this feature in the next release. Related PR is always welcomed!

[2019-02-05 22:35] mitza-oci commented on #4
For now I'd suggest updating the instructions, since they do not currently result in a working toolchain.

Not sure how to go about this, since the repository doesn't seem to contain the scripts used to produce the crosscompilers.

[2019-02-15 20:52] mitza-oci opened #8 "limits.h broken"
Expected behavior (using host system's GCC):
[code]
Observed behavior with cross-compiler from this project:
[code]
It looks like limits.h from include-fixed is not including the real limits.h.

[2019-02-15 21:00] jimcruse commented on #7
I reinstalled everything from scratch and got it working, had to relink g++ to /opt/gcc-8.2.0/bin/arm-linux-gnueabihf-g++

[2019-02-16 07:58] abhiTronix commented on #8
Nope, it isn't

Here is the verbose output of your command(*enabled by `-v` flag*):
[code]
**where `/opt/cross-pi-gcc-8.2.0/bin/../lib/gcc/arm-linux-gnueabihf/8.2.0/../../../../arm-linux-gnueabihf/include` is the correct file path, where the actual `limits.h` file is located.**, *Otherwise it might have raised the error such as file not found or linked.*
<br>

### So, coming back to your query:

[

[2019-02-18 09:09] abhiTronix commented on #8
@mitza-oci  I'll consider it solved then!

[2019-02-18 14:56] mitza-oci commented on #8
It's not solved, the cross-compiler fails to provide the required system headers.  Building common open-source packages fails (https://github.com/google/googletest/blob/d850e144710e330070b756c009749dc7a7302301/googletest/src/gtest-filepath.cc#L55)
Compare to the official Raspberry Pi toolchain at https://github.com/raspberrypi/tools/tree/master/arm-bcm2708/gcc-linaro-arm-linux-gnueabihf-raspbian-x

[2019-02-18 15:01] abhiTronix commented on #8
@mitza-oci That's weird that my briefly explained reply doesn't make sense to you. Kindly re-read it, the answer is right there.

[2019-02-18 15:12] mitza-oci commented on #8
If the solution involves changing 3rd-party source code, that's not going to work.  When including exactly `<limits.h>`, the preprocessor macro `_POSIX_PATH_MAX` should be defined.  I'm looking for either flags we can pass to the compiler to make this work, or changes to the toolchain itself.

[2019-02-18 15:21] abhiTronix commented on #8
@mitza-oci Yes, Solution surely involves changing the third-party source code it requires including correct Header files to make them work correctly. _Since GCC 8.2.0 source may have changed and not yet supported by the third-party binaries you want to use. **Kindly raise an issue regarding this issue in the third-party binaries to support new GCC 8.2.0 compilers binaries.**_

Being said that, you

[2019-02-18 15:24] abhiTronix commented on #8
@mitza-oci Also,
Compare to the official Raspberry Pi toolchain at https://github.com/raspberrypi/tools/tree/master/arm-bcm2708/gcc-linaro-arm-linux-gnueabihf-raspbian-x64
are ancient relics, Kindly avoid it , otherwise it's upto you. Goodluck!

[2019-02-20 12:13] TheJediMaster opened #9 "Raspbian Stretch"
I have followed the guide using the native version with no luck.
pi@raspberrypi:~ $ gcc --version
gcc (Raspbian 6.3.0-18+rpi1+deb9u1) 6.3.0 20170516
Copyright (C) 2016 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

I am sure I am missing something.

[2019-02-20 13:38] abhiTronix commented on #9
@TheJediMaster
Can you provide the output of following command(just copy paste them in your raspberry pi terminal one-by-one):
`which gcc`
`which g++`
`gcc-8 --version`
`$PATH`
`cd /opt && ls`
and paste the output of each command here.

[2019-02-20 13:54] TheJediMaster commented on #9
Can you provide the output of following command(just copy paste them in your raspberry pi terminal one-by-one):
which gcc
/usr/bin/gcc
which g++
/usr/bin/g++
gcc-8 –version
bash: gcc-8: command not found
$PATH
bash: /usr/local/gcc-8.2.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games: No such file or directory
cd /opt && ls
gcc-8.2.0  pigpio  vc

[2019-02-20 14:02] abhiTronix commented on #9
@TheJediMaster Here is the problem!
`/usr/local/gcc-8.2.0/bin` where it came from?

Try the following commands again:
[code]
and paste the output of `$PATH` here.

[2019-02-20 14:51] ItsBits commented on #9
Same problem on a fresh install.
[code]

[2019-02-20 15:02] TheJediMaster commented on #9
Exactly,
This is on a blackberry 3B+
If I am in the directory, the correct version shows...…..so as I leave it its gone.

[2019-02-20 15:05] abhiTronix commented on #9
@TheJediMaster @ItsBits Yes, It's a bug, I'm working on it. Wait till I push the related commit. Will be fixed soon.

[2019-02-20 15:24] TheJediMaster commented on #9
Awesome.....otherwise I was going to have to do a complete install of gcc :)

[2019-02-20 19:16] abhiTronix commented on #9
@TheJediMaster @ItsBits

***Follow Readme section again Carefully and revert***. Fixed in commit https://github.com/abhiTronix/raspberry-pi-cross-compilers/commit/645352297e1074e5a0ab27c354ace6a1914b8467

[2019-02-20 19:19] abhiTronix commented on #7
@jimcruse This Bug is fixed in commit https://github.com/abhiTronix/raspberry-pi-cross-compilers/commit/645352297e1074e5a0ab27c354ace6a1914b8467 . **Kindly Try ReadMe section again. Thankyou**

[2019-02-20 19:42] jimcruse commented on #7
I'll try next week, I broke my raspberry pi

On Wed, Feb 20, 2019, 11:19 AM Abhishek Thakur <notifications@github.com>
wrote:

[2019-02-21 15:34] abhiTronix commented on #9
Closed. Feel free to open it, If any issue occurs.

[2019-02-21 15:34] #9 closed

[2019-02-22 14:00] TheJediMaster opened #10 "g++-arm-linux-gnueabihf"
I attempted to install the below package..........is this normal or do you have a work=around for it?

pi@raspberrypi:~/$ sudo apt-get install g++-arm-linux-gnueabihf curl
Reading package lists... Done
Building dependency tree
Reading state information... Done
curl is already the newest version (7.52.1-5+deb9u9).
Some packages could not be installed. This may mean that you have
requested an imposs

[2019-02-22 14:14] abhiTronix commented on #10
[code]
This package is not available for Raspberry Pi and has Nothing to do with this repo. **Kindly strictly follow the instructions given the ReadMe section only.**

[2019-02-22 14:44] TheJediMaster commented on #10
My apologies and thank-you for resolving the last issue so quickly.
It worked perfectly.

[2019-02-22 14:44] #10 closed

[2019-02-24 22:27] TheJediMaster opened #11 "Did not work for me"
I ran a script to install GCC8.2.0 and after 9 hours I ran the same commands to compile which gave me the error and it worked.  I believe your library links are not complete.

Using your method I have the following error
configure: error: No working boost sleep implementation found.

After install using the script the same install worked like a charm.

My colleague found the same thing.

Maybe thi

[2019-02-24 23:50] abhiTronix commented on #11
@TheJediMaster **This error is not related to this repo. or GCC 8.2.0 at all.** You can check your working binaries as depicted in READMe section i.e. as follows:
[code]

configure: error: No working boost sleep implementation found.

**This is a configure error, which is not related to compiler but due to missing dependency i.e. `boost development libraries` required by the Toolkit/Software/Code

[2019-02-24 23:50] #11 closed

[2019-02-26 18:51] krcroft opened #12 "(enhancement) Bump to gcc 8.3.0"
Thank you for the build!

[2019-03-01 09:31] jimcruse opened #13 "Pi zero usage ?"
I just got a new pi zero, I'm willing to test these versions on it, should I use these as they are that worked pi3b, or is there some other version?
Are these 64 bit or 32, pi zero requires 32 bit I read somewhere

[2019-03-01 10:18] abhiTronix commented on #13
@jimcruse

Current Binaries are 32 bit. Also, these binaries aren't raspberry zero optimized yet.  ***Please wait till tomorrow(maybe today), I'm launching new `GCC 8.3.0 binaries`(Both native and cross-compiler) for every raspberry pi Models(including Rpi zero) seperately.*** Kuddos

[2019-03-01 10:23] jimcruse commented on #13
Ok I'll wait till this weekend, to download

On Fri, Mar 1, 2019, 2:18 AM Abhishek Thakur <notifications@github.com>
wrote:

[2019-03-02 14:17] abhiTronix commented on #4
@mitza-oci I tried to eliminate from Cross-Compiler GCC Binaries by building them from scratch but it always turns out to be broken at the end. Also, I can't find any example of such implementation anywhere online. Therefore this feature is abandoned for the future. Feel free to point me in the right direction if you find any related info. Goodluck

[2019-03-02 16:31] jimcruse commented on #13
I know it's early, but I didn't see any update, can you send me a note,
once they are updated...,

On Fri, Mar 1, 2019, 2:22 AM jim Cruse <crusejim@gmail.com> wrote:

[2019-03-03 01:42] abhiTronix commented on #13
I'm working on it. Also this issue will be closed once update is done.

[2019-03-05 18:33] jimcruse commented on #12
Any update on release

[2019-03-06 03:37] jimcruse commented on #12
I see sourceforge files were updated to 8.3;  github readme.md, still shows 8.2; so thank you very much, I'll give them a shot, thanks

[2019-03-06 03:39] jimcruse commented on #13
Please close

[2019-03-06 04:51] abhiTronix commented on #13
Closed in 2f87bc2899512822073d8228168c0f7da62154e2

[2019-03-06 04:51] #13 closed

[2019-03-06 04:51] abhiTronix commented on #12
Closed in 2f87bc2899512822073d8228168c0f7da62154e2

[2019-03-06 04:51] #12 closed

[2019-03-06 10:43] SoylentGraham opened #14 "Request for OSX build"
There are notoriously no good gcc toolchains for the PI CPU on OSX. (Last time I did this writing kernels, I was using a compiler for the GBA, but getting hold of that via homebrew wasn't the easiest thing either, and it was stuck around c++11)

Would it be possible to build for OSX as well as linux?

[2019-03-06 12:35] abhiTronix commented on #14
@SoylentGraham Thankyou. I will update here when the next Binaries targetting Windows and OSX is ready.

[2019-03-06 19:20] krcroft commented on #12
Thank you!

[2019-03-07 00:43] jimcruse opened #15 "Install scripts"
Is it safe to modify them for 8.3, you said don't modify because of security....

[2019-03-07 03:06] abhiTronix commented on #15
@jimcruse scripts are currently not supported as depicted in [Readme Section](https://github.com/abhiTronix/raspberry-pi-cross-compilers/blob/master/Tools/README.md). **Kindly strictly follow the instruction. Proceed at your own risk!

[2019-03-07 03:06] #15 closed

[2019-03-11 02:49] krcroft opened #16 "Best way to use native compiler along-side installed version?"
I'm attempting to build DOSBox from source using the native 8.3.0 build on a Pi3.

I've extracted the native gcc 8.3.0 build to /opt, and set the following environment variables:

[code]

For LTO builds, I additionally have:
[code]

Attempting to `./configure` with the above reports:
[code]
I think the compiler should come with these files, but I didn't find them.
But I found copies in /usr/lib/ar

[2019-03-11 03:27] abhiTronix commented on #16
@krcroft

**Did you strictly followed the [linking step](https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Native-Compiler:-Linking-&-Testing-Instructions#extracting--linking-read-and-execute-carefully) carefully?** Especially these steps:
[code]

Also,

**Wrong `LIBRARY_PATH` again!**

### Solution:

**Restart your Pi and clean your `Build folder` and _fresh install/link GCC 8.3.0 s

[2019-03-11 03:41] abhiTronix opened #17 "(IMPORTANT) BEFORE YOU POST ISSUE, READ THIS!"
### Before post issue, Kindly make sure you strictly followed the instructions [Extracting & Linking & Testing](https://github.com/abhiTronix/raspberry-pi-cross-compilers/blob/master/README.md#extracting--linking--testing-read--execute-carefully) depicted in ReadMe Section carefully and as it is.

[2019-03-11 03:42] #17 closed

[2019-03-11 06:45] krcroft commented on #16
Worked flawlessly! and huge apologies; I didn't see your wiki article. **Thank you!**

Some super minor comments that might be useful for the wiki:

I would suggest putting the PATH and LD_LIBRARY_PATH settings in .profile instead of .bashrc.

bashrc is for interactive shells and (and its top-level logic will exit if the shell is non-interactive, such as for terminal-less sessions or automated run

[2019-03-11 06:58] #16 closed

[2019-03-11 08:41] abhiTronix commented on #16
@krcroft  Thanks for this valuable information, I'll update the wiki accordingly. Much appreciated :1st_place_medal:

Also, **could you write this above comment as a review at [sourceforge](https://sourceforge.net/projects/raspberry-pi-cross-compilers/reviews)** Or **:star2: this repository. That will help others more to easily find/trust these binaries and this project. Thank you in Advance :smil

[2019-03-13 01:14] krcroft commented on #16
Absolutely!
 - Starred on github
 - 5-Stared on SF + Review

Regarding:

It's not needed. Just try it yourself, and launch a subshell ("bash").  You will see PATH still contains the desired changes.   This is because the top-level Shell already defines the PATH variable **at the environment-level**, and "PATH=xyz" simply changes that variable (whatever level it might be).

[code]

[2019-03-13 04:58] abhiTronix commented on #16
@krcroft

Yes, you are absolutely right, I may have interpreted it wrong in the first place. I think both will work and we should use whichever is comfortable. Neither makes any difference functionally, so this is primarily a question of style. I may leave this to the users to decide whichever they like and already mentioned this conversation in the wiki section. Kudos!

[2019-03-24 06:14] jimcruse opened #18 "Your readme.md links to the GitHub wiki, which is empty"
Inside the readme.md where it says to be sure to read carefully for native instructions

[2019-03-24 06:14] jimcruse commented on #18
https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Native-Compiler:-Linking-&-Testing-Instructions

[2019-03-24 06:24] jimcruse opened #19 "Installed on raspberry pi 3b+ and to make it work Had to make a link to g++ because the files in the bin Have a different name g++-8.3.0"
But after adding the g++ link in the bin directory it worked fine
Your documentation says to check ld and ldd --version
But doesn't say what the answer should be...
And a little more on how to check gfortran is installed correctly
##

[2019-03-24 06:36] abhiTronix commented on #18
@jimcruse what do you mean by empty??? Links are all working fine.  **Share a screenshot.**

[2019-03-24 06:43] abhiTronix commented on #19
**Do not open multiple issues. Kindly list all the related issue under one.** Also, instructions are already [here](https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Native-Compiler:-Linking-&-Testing-Instructions) in detail. **NO LINKING whatsoever required. you can use binaries temporarily at the time of compilation by following step-6 of instruction without breaking your system.**

[2019-03-24 06:43] #19 closed

[2019-03-24 10:39] jimcruse commented on #19
Step 6 sets the environment variables for autotools, but not command line directly

[2019-03-24 11:18] abhiTronix commented on #19
@jimcruse Yes, but **why you need them on the command line? What is the purpose?**. GCC tools are used for compiling programs only, isn't it. Anyways, you can already check its functioning with these commands as stated in the [wiki](https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Native-Compiler:-Linking-&-Testing-Instructions#testing-post-linking) in case you missed as follows:

[

[2019-03-24 11:20] abhiTronix commented on #18
@jimcruse I'm closing this due to lack of information, Kindly provide proper & detailed information to elaborate your issue. Goodluck.

[2019-03-24 11:20] #18 closed

[2019-03-25 04:10] jimcruse opened #20 "Documentation seems to be missing part of setup in the script"
I know I can't use experimental install script, but it seems, that the readme.md:
The script has a section where links are set up /usr/bin links to /opt/ such as:
But I can't find the equivalent section in the readme/nativeCompiler
such as:

sudo ln -s /opt/native-pi-gcc-8.3.0-2/bin/arm-linux-gnueabihf-g++-8.3.0 g++

[2019-03-25 07:45] abhiTronix commented on #20
@jimcruse As you have been warned previously in [this comment](https://github.com/abhiTronix/raspberry-pi-cross-compilers/issues/19#issuecomment-475933021) that clearly stated not to open multiple issues of the same kind, thereby any new issue from your end will be marked invalid straightaway if this term is violated. **Kindly DO NOT open new issue that is related to any previous issue discussed o

[2019-03-25 07:45] #20 closed

[2019-04-17 01:07] raitraak-rrk opened #21 "Request for GDB"
Hi,

first of all thanks for this project! It's very useful to quickly get started with Pi dev.

I noticed there is no GDB executable included in the cross compile binaries. Is it possible to add it there? For now I am using the one included in official arm-linux-gnueabihf and it seems to work.

Cheers,
Rait

[2019-04-17 03:01] abhiTronix commented on #21
@raitraak-rrk Didn't we cross-compile GDB afterward using cross-compiler toolchain? **GDB executable doesn't come inbuilt in my knowledge.**

## Solution:

You can easily use my Cross-compiler Toolchains to cross-compile GDB for your Raspberry Pi. If need step-by-step instructions, then kindly let me know.

[2019-04-17 07:22] raitraak-rrk commented on #21
It would be nice if GDB is a part of the binary distribution as in the package from ARM.
![image](https://user-images.githubusercontent.com/17176194/56268672-42007d00-6135-11e9-9901-0193e22a613f.png)

[2019-04-17 08:33] abhiTronix commented on #21
Yes, that would be good, But Adding GDB executables to each cross-compiler is quite a difficult and cumbersome task, might need recompiling and re-uploading those files from scratch which is not currently feasible.

**_Therefore I think, I'll add a separate folder for GCC Cross-compiler-8.3.0 built GDB executables for each Raspberry Pi Model. I'll commit the change and will notify you here once do

[2019-04-18 03:38] raitraak-rrk commented on #21
No rush. I got gdb from ARM package. Simply a suggestion.

Maybe preserve the directory structure too, so unpacking puts gdb in the bin folder.

Thanks again for the project!

[2019-04-18 04:32] abhiTronix commented on #21
@raitraak-rrk Yes good point, But that's will certainly need another update i.e building every file from scratch and the re-uploading whole project. **_I'll suggest you to keep using those alternate GDB executables for now. I'll add this feature to Milestone and will include this next major update that is coming soon. Also, leave this issue open, I'll close this once the update is done. Goodluck_*

[2019-05-04 16:15] TheDevMinerTV opened #22 "Raspberry Pi Model 3 A+/B+ GCC 64bit?"
Is the gcc for Raspberry Pi Model 3 A+/B+ compiled against 64bit libraries?

[2019-05-04 16:40] ScallyBag commented on #22
Raspberry Pi’s are 32 bit compiles.

Al (I compile for Picochess)

[2019-05-04 16:51] TheDevMinerTV commented on #22
Nope, the 3 A+/B+ are 64bit capable, just not under raspbian.
Maybe @abhiTronix can compile the bins for the 3 A+/B+ next time on pi64.

[2019-05-04 17:06] abhiTronix commented on #22
@TheDevMinerTV, @ScallyBag you both are correct.

But, If you look at the ReadMe section [here](https://github.com/abhiTronix/raspberry-pi-cross-compilers#optimation-flags-involved), the compiler flags used for **Raspberry Pi - 3 Model A+/B+** are `-march=armv8-a -mfloat-abi=hard -mfpu=neon-fp-armv8` :

- First compiler flag, `-march=armv8-a` means ARMv8 (_a.k.a ARMv8-A  since there are also ARMv8

[2019-05-04 21:11] TheDevMinerTV commented on #22
Okay, cool! I hope I could help with this recommendation.

[2019-05-05 02:25] abhiTronix commented on #22
@TheDevMinerTV Thankyou, I'll let you know here when this feature is added and will require your assistance in testing those binaries. good luck!

[2019-05-06 12:03] TheDevMinerTV commented on #22
Ummmm, forget the 64bit version of GCC when built under pi64.
The userland of pi64 is 32bit...
Well, thanks for the offer.

[2019-05-06 12:20] abhiTronix commented on #22
@TheDevMinerTV the [readme of Pi64](https://github.com/bamarni/pi64#can-i-still-run-32-bit-programs-with-pi64) states:

**It may have work in the first place but may not optimized as on the 32-bit OS. That's why I insisted to build 64bit binaries. I also believe that the upcoming Raspberry 4 release will be in 64-bit. Anyways Kindly feel free to reopen this issue if anyone else wants this feature.

[2019-05-13 03:40] abhiTronix commented on #14
Update: Unfortunately My All attempts to install OSX on my AMD machine failed horribly. So until I buy a new MacBook or Find a way to fix OSX installation, This enhancement is abandoned!

[2019-05-13 03:40] #14 closed

[2019-05-13 03:43] abhiTronix opened #23 "Bump to gcc 9.1"
### Summary:

`GCC 9.1` has just released.**Binaries builds is in Progress!**

[2019-05-13 03:45] abhiTronix commented on #22
Building this experimental feature!

[2019-05-13 04:55] TheDevMinerTV commented on #22
Okay, so, when you need to compile GCC on Barmani Full 64bit from CrazyHead90 otherwise the resulting GCC will be a 32bit aarch64 binary.

[2019-05-15 14:30] abhiTronix commented on #22
False, I didn't use any  `Barmani Full 64bit from CrazyHead90` and I've succeeded in compiling true Aarch64 GCC binaries for 64-bit ARM OS from scratch on my Raspberry Pi 3B+. Wait for them, updating repo. soon.

[2019-05-17 17:49] TheDevMinerTV commented on #22
Okay, lol

[2019-05-18 04:01] abhiTronix commented on #22
Closed in 7c40f92f9d0a003cd7504c37cc3734920223210a

[2019-05-18 04:01] #22 closed

[2019-05-18 04:02] abhiTronix commented on #23
Closed in 7c40f92f9d0a003cd7504c37cc3734920223210a

[2019-05-18 04:02] #23 closed

[2019-05-18 04:05] abhiTronix commented on #21
@raitraak-rrk **New GDB 8.3.1 Debugger has been successfully Integrated into New Cross-Compiler Release. Kindly Test it and Revert.**

[2019-05-18 04:05] abhiTronix commented on #21
Closed in 7c40f92f9d0a003cd7504c37cc3734920223210a

[2019-05-18 04:05] #21 closed

[2019-05-18 15:08] raitraak-rrk commented on #8
Getting the same issue with PATH_MAX.
gcc-arm-8.3-2019.03-x86_64-arm-linux-gnueabihf provides the define in limits.h. Why is this compiler build acting differently?

[2019-05-18 17:20] raitraak-rrk commented on #21
Looks good! Thanks, mate.

[2019-05-19 06:52] abhiTronix commented on #8
@raitraak-rrk Are you getting this error with my binaries or someone else's?

This is an issue, as I explained [earlier](https://github.com/abhiTronix/raspberry-pi-cross-compilers/issues/8#issuecomment-464309203), is with the newer versions of GCC. since **_source files have been changed in the recent releases_**, I don't know from which version this change has been made. So to be on safer side, Y

[2019-05-19 12:29] raitraak-rrk commented on #8
Hi,

tested with your 8.3 and the mentioned Arm 8.3(gcc-arm-8.3-2019.03-x86_64-arm-linux-gnueabihf ) release. Only appears with your binary. The issue is PATH_MAX not being defined in limits.h (or the wrong limits.h is being used).

Test code:

#include <limits.h>
constexpr auto pathmax {PATH_MAX};

User "uray" seems to have a similar issue in the cross-compiler guide comments:
https://preshing.co

[2019-05-19 12:43] abhiTronix commented on #8
@raitraak-rrk Can you test my GCC 9.1.0 binary too and revert?

[2019-05-19 12:59] abhiTronix commented on #8
@raitraak-rrk I thought of manually defining PATH_MAX but PATH_MAX variable is different for different operating systems like for windows it's 260, on Linux, it's 4096, on OpenBSD, it's 1024.

More information here: http://insanecoding.blogspot.com/2007/11/pathmax-simply-isnt.html

[2019-05-19 13:12] raitraak-rrk commented on #8
Same behaviour with your 9.1.

PATH_MAX is defined in linux/limits.h so pretty sure this issue is related how the compiler build is configured. Some threads mention "configuration magic" related to PATH_MAX.

https://bugs.chromium.org/p/nativeclient/issues/detail?id=3190

Personally, I don't really care if the value is valid, but the missing definition breaks external library code (e.g. GoogleTest

[2019-05-19 13:27] abhiTronix commented on #8
@raitraak-rrk definition is not missing, It is not being accessed properly.

Can you summarize this configration here?

[2019-05-19 13:31] raitraak-rrk commented on #8
Sorry mate, I have no experience in building compilers :) You are way ahead of me. Maybe post to SO for help?

Cheers

[2019-05-19 13:33] abhiTronix commented on #8
@raitraak-rrk Thanks anyway, I'm working on it. If you find something else related to this issue, kindly report it here!

[2019-05-19 14:32] abhiTronix commented on #8
@raitraak-rrk replace `#include <limit.h>` with `#include <linux/limits.h>`, does it works?

[2019-05-19 14:37] raitraak-rrk commented on #8
Yes. As I mentioned PATH_MAX is defined in linux/limits.h. But somehow it should get to the "normal" limits.h too.

[2019-05-19 15:22] abhiTronix commented on #8
@raitraak-rrk Problem located!

These binaries build around  glibc-2.24 that is somehow using its own header files in which `limits.h` do not define `PATH_MAX` but it is rather defined by  `pathmax.h` file which is the actual cause for this issue.

**The official glibc document says I quote:**

See here: https://www.gnu.org/software/gnulib/manual/html_node/limits_002eh.html

[2019-05-24 12:36] abhiTronix commented on #8
@raitraak-rrk Sorry for the delay. **The `limit.h` issue is now resolved.**

_To confirm this kindly Stress test this [Cross-Compiler 6.3.0 binary](https://sourceforge.net/projects/raspberry-pi-cross-compilers/files/Raspberry%20Pi%20GCC%20Cross-Compiler%20Toolchains/GCC%206.3.0/Raspberry%20Pi%201%2C%20Zero/cross-gcc-6.3.0-pi_0-1.tar.gz/download) that I have uploaded to Sourceforge for testing purp

[2019-05-24 16:09] abhiTronix commented on #8
@raitraak-rrk @mitza-oci, Apologies for the delay, I have resolved this issue.

**Kindly download this [cross-compiler 6.3.0 binary](https://sourceforge.net/projects/raspberry-pi-cross-compilers/files/Raspberry%20Pi%20GCC%20Cross-Compiler%20Toolchains/GCC%206.3.0/Raspberry%20Pi%201%2C%20Zero/cross-gcc-6.3.0-pi_0-1.tar.gz/download) and Stress Test it with Google Tests and report the results here. A

[2019-05-24 16:10] abhiTronix commented on #4
@raitraak-rrk @mitza-oci, See https://github.com/abhiTronix/raspberry-pi-cross-compilers/issues/8#issuecomment-495691678

[2019-05-25 13:33] raitraak-rrk commented on #8
Hi,
thanks for the update. Tested the binaries with the simple code snippet and it compiles without issues.
#include <limits.h>
constexpr auto pathmax {PATH_MAX};

Not sure what you mean by stress testing. Unfortunately my codebase doesn't compile with gcc6, so cannot verify googletest compilation. As long as the issue was only with PATH_MAX it should be fine.

No idea how to verify the other issu

[2019-05-25 15:44] abhiTronix commented on #8
@raitraak-rrk Thank you for the update.

- From Stress Test I meant Can you compile a complex code and see if it passes a series of Google tests?
- Secondly, can you tell which GCC Cross-Compiler version works on your machine? I've uploaded [version 8.3.0 here](https://sourceforge.net/projects/raspberry-pi-cross-compilers/files/Raspberry%20Pi%20GCC%20Cross-Compiler%20Toolchains/GCC%208.3.0/Raspber

[2019-05-26 00:42] raitraak-rrk commented on #8
Can you please upload 8.3 or 9.1 version for Model 3B+. That's the only Pi I have.

Output from the provided command looks clean:
`rait@Aq-Home:/opt/cross-pi-gcc-6.3.0-0/bin$ ./arm-linux-gnueabihf-gcc -print-search-dirs | sed '/^lib/b 1;d;:1;s,/[^/.][^/]*/\.\./,/,;t 1;s,:[^=]*=,:;,;s,;,;  ,g' | tr \; \\012
libraries:
  /opt/cross-pi-gcc-6.3.0-0/lib/gcc/arm-linux-gnueabihf/6.3.0/:/opt/cross-pi-gcc-

[2019-05-26 11:18] abhiTronix commented on #8
@raitraak-rrk thanks for helping out,

You don't need Raspberry Pi for this purpose since you dealing with Cross-Compilers here, but you'll need a Linux machine only in this case. But **I've uploaded the  Cross Compilers [version 8.3.0](https://sourceforge.net/projects/raspberry-pi-cross-compilers/files/Raspberry%20Pi%20GCC%20Cross-Compiler%20Toolchains/GCC%208.3.0/Raspberry%20Pi%203A%2B%2C%203B%2

[2019-05-28 09:04] raitraak-rrk commented on #8
`rait@Aq-Home:~/gcc/cross-pi-gcc-9.1.0-2/bin$ ./arm-linux-gnueabihf-gcc -print-search-dirs | sed '/^lib/b 1;d;:1;s,/[^/.][^/]*/\.\./,/,;t 1;s,:[^=]*=,:;,;s,;,;  ,g' | tr \; \\012

libraries:
  /home/rait/gcc/cross-pi-gcc-9.1.0-2/lib/gcc/arm-linux-gnueabihf/9.1.0/:/home/rait/gcc/cross-pi-gcc-9.1.0-2/lib/gcc/:/home/rait/gcc/cross-pi-gcc-9.1.0-2/arm-linux-gnueabihf/lib/arm-linux-gnueabihf/9.1.0/:/hom

[2019-05-28 12:42] raitraak-rrk commented on #8
GoogleTest also seems to build now with 9.1.

However, when trying to run on target (Pi 3B+) getting:
`/tmp/LibraryTest: /usr/lib/arm-linux-gnueabihf/libstdc++.so.6: version GLIBCXX_3.4.26 not found (required by /tmp/LibraryTest)`

Also installed the native version on the Pi but this didn't help. Any ideas?

[2019-05-28 12:47] abhiTronix commented on #8
@raitraak-rrk  Thank you so much for the feedback. **You forgot to pass `export LD_LIBRARY_PATH=/opt/myGCCLibs` before running tests. Kindly set this flag and rerun tests.**

[2019-05-28 12:49] #4 closed

[2019-05-28 13:11] abhiTronix commented on #4
Solved in v2.7

[2019-05-28 13:19] raitraak-rrk commented on #8
Seems VisualGDB project was broken somehow. All good now. Tests and app running and debugging on target. Thanks mate!

[2019-05-28 13:56] abhiTronix commented on #8
@raitraak-rrk, Again, thank you a lot for your time.

This issue is Resolved in v2.7

[2019-06-11 13:16] jcelerier commented on #8
is the issue solved in the files here ? https://sourceforge.net/projects/raspberry-pi-cross-compilers/files/Raspberry%20Pi%20GCC%20Native-Compiler%20Toolchains/GCC%209.1.0/Raspberry%20Pi%202%2C%203/

with a simple `foo.c` :

    #include <limits.h>
    char c[PATH_MAX];

I still get the undefined symbol error.

[2019-06-11 16:46] jcelerier commented on #8
I'm using them on a docker raspberry pi image (schachr/raspbian-stretch, armv7l)

yup

sure, the compiler works for most things, it's just limits.h which is the problem.

[2019-06-11 17:01] abhiTronix commented on #8
@jcelerier Thank you for this valuable information. I'm working on fixing this problem, once done, I'll inform you here.

[2019-06-19 15:48] abhiTronix commented on #8
@jcelerier Thank you for your patience.

 **I've eliminated this bug from latest GCC 9.1.0 Native Toolchain builds.**

**Kindly download these Bug-Free [Native compilers binaries from here](https://sourceforge.net/projects/raspberry-pi-cross-compilers/files/Raspberry%20Pi%20GCC%20Native-Compiler%20Toolchains/GCC%209.1.0/) and install them with [updated Wiki instructions](https://github.com/abhiTro

[2019-06-19 16:00] abhiTronix commented on #21
**Update v2.8:** Released Native Compiler Toolchains with InBuilt GDB Binaries for Debugging.

[2019-06-19 16:21] jcelerier commented on #8
Great ! testing asap. Thanks for your time !

[2019-06-19 18:45] jcelerier commented on #8
hmmm, the new native compiler behaves weirdly : it has a sysroot in `/opt/native-pi-gcc-9.1.0-1/arm-linux-gnueabihf/libc/usr`, with a libc, etc... but it does not really make sense for a native compiler since it should use the glibc, libdl, etc that are in /usr/lib/ and /usr/lib/arm-linux-gnueabihf

[2019-06-20 01:13] abhiTronix commented on #8
@jcelerier  Nope, you are wrong. **That is not a weird behaviour but the desired one since I've finally made these toolchain binaries completely standalone. It now DOES NOT depend on your system  `glibc or libdl etc` or anything but provides it's own `glibc etc.` files that reside in `libc` sysroot folder.**

### Reason for doing that?

During my tests, I found many inconsistency in the location o

[2019-06-20 07:39] jcelerier commented on #8
Hello,

I understand that this is useful for cross-compiler toolchains, but I don't understand the point for native toolchains since those are going to be run on a raspbian system anyways.

this means that if I want to distribute binaries built with your toolchain, I also have to ship your glibc, etc along with my app, which may break in plenty of places (https://stackoverflow.com/questions/847179

[2019-06-20 08:14] abhiTronix commented on #8
- First of all these native binaries are cross-compiled using the Cross-Compiler available with this repository. So when we compile these binaries we need important system header files and libs to make it work correctly. As I said the location of header files differs in ARM and AMD/Intel sytem, thereby it causes conflict with the path of these header files.
- Secondly when these files are compiled

[2019-06-20 08:59] jcelerier commented on #8
Yes, that's not what I am saying.
Your GCC binaries only have their own sysroot in their include & link path, and links *my* software with *your* libc headers, glibc & sysroot which is different that the one that comes with Raspbian. It should pick up the glibc in /usr/lib so that my software can be relocated on another raspberry without having to copy your glibc along.

here is a compiler invocat

[2019-06-20 17:35] abhiTronix commented on #8
@jcelerier First of all Apologies for these bugs and conflict between us for these binaries and thank you for sharing this debugging data. In reality, we are both correct and justify what is our opinion, but **the main problem that led to this conflict between us was that unfortuntely _I used the wrong build flag while compiling final GCC native binaries that I uploaded to Sourceforge. But instead

[2019-06-21 05:58] jcelerier commented on #8
Hello,
I just tested but this version doesn't have any headers packaged in - so simple programs such as

     #include <string>

do not compile.

The compiler returns the following :

[code]

[2019-06-21 16:56] jcelerier commented on #8
I've ended up building mine, here's what its configure line looks like :

[code]

[2019-06-21 19:27] abhiTronix commented on #8
@jcelerier **It is not he the problem and it not nessary to have specific version of libstdc++. These GCC native binaries uses system libstdc++ for compiling code. you can easily confirm this as follow:**
[code]
&nbsp;

---

@jcelerier **This is not the error with my GCC Binaries only but official GCC distro also throws the similar error as above. You see the output with GCC Raspbian 6.3.0-18+rpi1

[2019-06-22 08:12] abhiTronix commented on #8
@jcelerier Finally I managed to solve it, Thanks for helping me out indirectly :) Kindly test this using following steps:
1. Make important symlinks as follows:(do not miss any)
[code]

2. Download [this new GCC Native 9.1.0 Binary]() and extract it:
[code]
**:warning: DO NOT move extracted folder to `/opt` as we want to check if it works without it.**

3. Make the necessary paths:(do Both of them

[2019-07-08 03:45] abhiTronix commented on #8
**Closed. Feel feel to reopen if something doesn't work for you.**

[2019-07-08 03:45] #8 closed

[2019-08-09 03:58] dschnabel opened #25 "error: ‘armv8-a’ does not support feature ‘fp’"
When I build with the 9.1.0 cross-compiler toolchain and use the flag `-march=armv8-a+fp+simd` as mentioned in the README, I'm getting this error message:

[code]

Looks like `fp` is the default, so I can omit that and just use `-march=armv8-a+simd`? It builds fine without it.

[2019-08-09 07:23] abhiTronix commented on #25
@dschnabel **Kindly make sure that flag `-march=armv8-a+fp+simd` is only available with [64-bit toolchains](https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki#bonus-64-bit-arm64-gcc-compilers-toolchains). If you are using [32-bit-toolchains](https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Cross-Compiler:-Installation-Instructions) kindly use  `-march=armv8-a -mfloat-ab

[2019-08-09 07:28] #25 closed

[2019-08-23 12:40] jano42 opened #26 "Generic CrossCompiler"
Hello,

You're job is great.

I'm searching for raspberry cross toolchain based on a recent gcc (>8) which could run on old raspbian (jessie).
And a single toolchain for all RaspberryPI models.

I'm developing a [domotic software ](http://yadoms.com), and I would like to provide binaries which could run on any raspberrypi (from 1 to 4, which potentially old raspbian like jessie, without any specif

[2019-08-23 15:47] abhiTronix commented on #26
Hello @jano42,

This project provides separately optimized toolchains for all Raspberry pi models with any Raspbian OS installed, both 64bit/32bit are supported. _**But since you asked for single toolchain that works with all models then I'll advice to go for latest [Raspberry Pi 32-bit 9.1.0 toolchain for Raspberry Pi 3B+](https://sourceforge.net/projects/raspberry-pi-cross-compilers/files/Raspbe

[2019-08-23 16:04] abhiTronix commented on #26
Closed. Feel free to reopen, If something doesn't works.

[2019-08-23 16:04] #26 closed

[2019-08-26 12:15] jano42 commented on #26
Hi abhiTronix,

Thanks for your answer. I've started to use the toolchain.

I'm facing a problem with python (never with any other crosscompilations tries)

/usr/local/include/python3.7m/pyport.h:699:2: error: #error "LONG_BIT definition appears wrong for platform (bad gcc/glibc config?)."
  699 | #error "LONG_BIT definition appears wrong for platform (bad gcc/glibc config?)."
      |  ^~~~~

Do y

[2019-08-26 12:54] abhiTronix commented on #26
@jano42 **Make sure you have the right bits-installed for python.** You will need the python 32-bit installed for the 32-bit Raspberry Pi Cross-compilers, otherwise, this issue will arise.

[2019-08-26 12:56] jano42 commented on #26
I've tried to install the crosstoolchain on a Debian Strech 32bits (previous tries were made on 64bits env), but gcc/g++ executables are 64bits and not recognized by system.

![image](https://user-images.githubusercontent.com/3135683/63692269-90bfd100-c811-11e9-8cd0-444447a0f810.png)

[2019-08-26 12:56] jano42 commented on #26
ok I'll check about installed python version

[2019-08-26 13:06] abhiTronix commented on #26
@jano42 You need to set links to be able to use these binaries correctly: https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Cross-Compiler:-Installation-Instructions#1-temporary-installation-use-these-binaries-directly-recommended

That's not the case, these cross-toolchains are not dependent of OS architecture on which these are being used on. I've tested them on both 32-bit and 64-

[2019-08-26 13:28] abhiTronix commented on #26
@jano42 I've solved this problem, **you must also need cross-compile python using the 32-bit Raspberry Pi Cross-compiler to remove this error. Follow these instructions in the link to do it:** https://github.com/Yadoms/yadoms/wiki/Cross-compile-for-raspberry-PI#python . These instructions are for python 2.7 but you can easily change them to compile python 3 also. Goodluck.!

[2019-08-27 05:48] jano42 commented on #26
@abhiTronix : I've already cross compile python for arm (I wrote the wiki link you provide me, I'm one of Yadoms developer).
https://github.com/Yadoms/docker/blob/feature/upgradeContainers/build-raspberrypi/Dockerfile#L136

I'll look about cross-compiling python3 in 32bits mode

[2019-08-27 09:20] abhiTronix commented on #26
Good to know. It should work after compilation. Goodluck.

[2019-08-28 10:24] jano42 commented on #26
OK finally I make it build !!!

Then when I take my executable on my Raspberry PI 1 with raspian Jessie installed I've got those errors:

[code]

What should I do ? (provide arm-linux-gnueabihf argumzent to compile with old glibcxx ??)

[2019-08-28 10:43] abhiTronix commented on #26
You need latest raspbian libstdc++6 binaries on your raspberry pi too. I meant you need to download the latest [native 32-bit 9.1.0 GCC binaries](https://sourceforge.net/projects/raspberry-pi-cross-compilers/files/Raspberry%20Pi%20GCC%20Native-Compiler%20Toolchains/GCC%209.1.0/) and do the [permanent installation step](https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Native-Compiler

[2019-08-28 10:58] abhiTronix commented on #26
@jano42 Also, What is the default GCC version on raspbian Jessie?

[2019-08-28 11:10] jano42 commented on #26
@abhiTronix The GCC version is 4.9.2

[2019-08-28 11:12] jano42 commented on #26
@abhiTronix I don't know how do you generate toolchains, but is there a way to specify the minimum compatible glibcxx version ? (I've made a try with crosstoolng but without succes)

[2019-08-28 11:13] abhiTronix commented on #26
@jano42 then it's bad news, as these toolchains are built on GCC 6.3.0 as the base GCC. If you could somehow update to stretch or buster than there will be no problem at all. But you try replacing old GCC 4.9.3 with GCC 9.1.0.

[2019-08-28 11:14] abhiTronix commented on #26
No, It is built along with compilers and cannot be altered later on.

[2019-08-28 11:18] abhiTronix commented on #26
@jano42 If you are trying to build Glibc 2.24 with a more modern GCC, like 7.x or 8.x, you are going to get a lot of errors and compatibility issues. The solution is to build Glibc with GCC 6.3.0 and later use it with the latest and greatest GCC, which at this time is 9.1. That's what I did while building these cross compilers.

[2019-09-04 08:03] gfplab-scaffardi opened #27 "Cannot find crt1.o"
Hi there! Thank you for your work.
I am trying to use the armv6 gcc 8.3 toolchain to cross compile QTfor rpi zero (rpi0w) target. I followed the wiki and installed. I can build an example program but if i configure QT it gives me problems while trying to build their sample programs. The logs report this error:

`arm-linux-gnueabihf-g++ -mfloat-abi=hard --sysroot=/home/parallels/raspi/sysroot --sys

[2019-09-04 10:55] abhiTronix commented on #27
@gfplab-scaffardi looks like you completely messed up up your system paths.

Kindly answer the following queries for further debugging:

**1. Did you strictly followed the instructions given the [wiki section](https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Cross-Compiler:-Installation-Instructions#raspberry-pi-cross-compiler-toolchain-installation-instruction-)?**

**2. Kindly cd

[2019-09-04 13:07] gfplab-scaffardi commented on #27
Yes i did. Compiling without the sysroot argument works fine.

`libraries:
  /home/parallels/raspi/tools/cross-pi-gcc-8.3.0-0/lib/gcc/arm-linux-gnueabihf/8.3.0/:/home/parallels/raspi/tools/cross-pi-gcc-8.3.0-0/lib/gcc/:/home/parallels/raspi/tools/cross-pi-gcc-8.3.0-0/arm-linux-gnueabihf/lib/arm-linux-gnueabihf/8.3.0/:/home/parallels/raspi/tools/cross-pi-gcc-8.3.0-0/arm-linux-gnueabihf/lib/:/home/p

[2019-09-04 14:30] abhiTronix commented on #27
Where your Cross-Compiler actually toolchains located. According to searchpath, it is here:

and according to you, You placed your toolchain here:

Why these location not same?

[2019-09-04 15:00] gfplab-scaffardi commented on #27
You are right. Sorry. I initially installed in /opt, then here:

`/home/parallels/raspi/tools/cross-pi-gcc-8.3.0-0/ `

And, just to perform a test, i copied here too:

'/home/parallels/raspi/sysroot/opt/cross-pi-gcc-8.3.0-0'

Now it's back in /opt and i also added permanent LD_LIBRARY_PATH and PATH variables into .bashrc (they are correctly set into the environments). These are the updated results

[2019-09-04 17:02] abhiTronix commented on #27
@gfplab-scaffardi Try again and remove `-shared-libgcc` flag this time and revert.

[2019-09-04 18:41] abhiTronix commented on #27
@gfplab-scaffardi Wait, I'm compiling QT at my end and if successful I'll post my configuration here. Till then keep trying at your end too.

[2019-09-04 19:30] abhiTronix commented on #27
@gfplab-scaffardi I found a hack, **Kindly Remove all paths from `.bashrc` and reboot and then replace its current location in the following command:**

[code]
**Then rerun `./configure` command and revert your results goodluck.**

[2019-09-05 08:40] gfplab-scaffardi commented on #27
I did it. This are the new environment variables:

[code]

Tried it. Same results here (the same cmd works without sysroot option):

[code]

Thank you again for your time. Any idea?

[2019-09-05 08:56] abhiTronix commented on #27
@gfplab-scaffardi This is caused by sysroot. The path in which it is searching for libs are incorrect:
`/opt/cross-pi-gcc-8.3.0-0/bin/../lib/gcc/arm-linux-gnueabihf/8.3.0/` instead it should search in `/opt/cross-pi-gcc-8.3.0-0/bin/../arm-linux-gnueabihf/libc` which is the actual sysroot of these binaries. I'll try to replicate this on my machine, Kindly paste your all terminal commands used in th

[2019-09-05 09:06] gfplab-scaffardi commented on #27
[code]

where configure.sh is:

[code]

[2019-09-06 02:24] abhiTronix commented on #27
@gfplab-scaffardi Can you confirm what is your GCC version and OS installed on your Raspberry Pi Zero by pasting the output of the following command:
[code]

[2019-09-06 03:15] abhiTronix commented on #27
@gfplab-scaffardi Good news. I managed to solve this. **Just use this modified `configure.sh` instead of your previous one:**

[code]

 **and and voila error is gone. I totally positive that this should work, as I test it on machine. Once confirmed, I'll tell you why this is working. Goodluck.**

[2019-09-06 13:51] jpires commented on #26
@jano42 One possible solution for the missing GLIBCXX_3.4.26 is to bundle the library and the executable together and use the LD_LIBRARY_PATH to change the order the libraries are loaded.

For example, On /home/bar/ you have a foo binary and the libstd++.
You can execute foo with this command
`LD_LIBRARY_PATH=/home/bar /home/bar/foo`

[2019-09-06 17:45] abhiTronix commented on #27
@gfplab-scaffardi Closing this issue & Marking Solved, since error is no longer reproducible with above solution. Free feel to reopen this issue if suggested solution doesn't work for you. Goodluck.

[2019-09-06 17:58] abhiTronix commented on #26
@jpires just for the knowledge, Building libstdc++ binaries require building the entire gcc package. You cannot just build libstdc++ alone.

[2019-09-13 08:02] gfplab-scaffardi commented on #27
This is the failed OpenGL test:

[code]

My sysroot is taken from last raspbian buster and it works with other toolchains like linaro-raspbian.

[2019-09-13 08:41] abhiTronix commented on #27
@gfplab-scaffardi See that's the problem. These errors are due to shared libraries not finding correct glibc symbols.  The problem is that my toolchains uses Glibc 2.24 as it is targeting default GCC 6.3.0 on Raspbian stretch. Whereas on your Raspbian buster with default GCC 8.3.0, uses Glibc 2.27 for compiling programs which are incompatible with Glibc 2.24 that comes with my toolchains. Sorry bu

[2019-09-13 08:53] gfplab-scaffardi commented on #27
@abhiTronix thank you for your time and help. I could imagine it's not easy to provide a toolchain for any Glibc but i think it will help for sure any RPI user having it compatible with last raspbian version. Thank you again!

[2019-09-13 09:07] abhiTronix commented on #27
Yes, I've to create separate branches for seperate Glibc, and while still it possible to release updates for Buster right now but Not everyone has yet switched to buster including me. As it still experimental and not compatible with major libraries like OpenCV. Also, it quoted by [Raspberry Pi Dev's on its official website](https://www.raspberrypi.org/blog/buster-the-new-version-of-raspbian/) that

[2019-09-13 09:15] abhiTronix commented on #27
@gfplab-scaffardi I'll try to compile a single binary for you targeting buster and raspberry pi zero by tomorrow so stay tuned!

[2019-09-13 16:26] abhiTronix commented on #27
@gfplab-scaffardi **I've just compiled a Raspbian Buster exclusive Toolchains with following settings:**

**GCC** - 8.3.0
**Binutils** - 2.31.1
**Glibc** - 2.28
**GDB** - 8.3
**Target OS:** Raspbian Buster OS
**Target Machine:** Raspberry Pi Zero/W/WH and Raspberry Pi 1 Model A/B/A+/B+

**Kindly download this binary from here:**
https://sourceforge.net/projects/raspberry-pi-cross-compilers/files/E

[2019-09-13 18:52] gfplab-scaffardi commented on #27
Here is the result WITH -no-gcc-sysroot:

Here is the result WITHOUT -no-gcc-sysroot:
[code]

Here is the error:
[code]

[2019-09-14 02:25] abhiTronix commented on #27
@gfplab-scaffardi You're so close to ending, don't give up yet. You just need to install `“libasound2-dev”` as a pre-requisite on your Raspberry Pi to get past the error posted above. Then resync after that and this error will be gone.

[2019-09-16 07:03] gfplab-scaffardi commented on #27
I confirm i have libasound2-dev installed and copied to sysroot (/usr/lib/arm-linux-gnueabihf/libasound.* and /usr/include/alsa/*). My configure script with the other toolchain still works correctly.

[2019-09-16 13:38] abhiTronix commented on #27
I don't have a buster environment or a suitable time schedule to test this on buster environment. But when this happens, I'll ensure that these errors related to your end only or happening on my end too. But I can asure it compiling smoothly on my stretch environment with these toolchains. Until then, I'll agree with you to keep using "other" toolchain that works. Thank you for your feedback.

[2019-09-18 15:26] gfplab-scaffardi commented on #27
Here is my buster sysroot, if you want to test it in the future:

[https://www.dropbox.com/s/6eejnu1smvnmqcr/sysroot.tgz?dl=0](url)

Please wait 5 minutes after the post untile the file is uploaded with Dropbox.

Anyway: thank you again for your time and help!

[2019-09-29 13:17] abhiTronix commented on #27
**@gfplab-scaffardi With your sysroot I got following error on running `configure` command:**

### Error 1:

**That confirms OpenGL isn't installed properly on your Raspberry Pi.**

**Means, ALSA libs also not installed on your Raspberry Pi. Pardon, but You need both `libasound2` and `libasound2-dev` installed and here is a similar issue as yours: https://forum.qt.io/topic/107174/qtmultimedia-cros

[2019-10-02 04:08] abhiTronix commented on #1
**I'm converting this repository for building and releasing automated cli docker builds in upcoming days. Kindly help me in achieving this goal. Thank you.**

[2019-10-05 09:55] abhiTronix opened #28 "[Enhancement] Bump to gcc v9.2 and GDB v8.3.1"
### Summary:

_New **GCC 9.2 and GDB 8.3.1** have just released. Latest Binaries builds is in Progress!_

[2019-10-13 04:25] krcroft commented on #28
Thumbs up to that; looking forward to the new build!  Thank you @abhiTronix

[2019-10-14 11:44] abhiTronix commented on #28
Thanks, I'll be updating remaining binaries shortly. Have a nice day!

[2019-11-05 07:54] #28 closed

[2019-11-28 11:52] philbowles opened #29 "Instructions wrong"
I think your instructions are wrong:

1, Update your environment:

sudo apt-get update && dist-upgrade

Should read:

sudo apt update && sudo apt dist-upgrade

[2019-11-28 12:29] abhiTronix commented on #29
Thanks! wiki updated.

[2019-11-28 12:29] #29 closed

[2019-12-30 22:28] takacsd opened #30 "Raspbian Buster"
Hi,

I was fighting for days to cross compile Qt for my new Pi Zero with your toolchais, and I almost gave up and reverted back to the gcc 4.6 what every tutorial suggests, when finally I stumble upon #27 (which starts with a problem I already resolved) and more specifically this comment: https://github.com/abhiTronix/raspberry-pi-cross-compilers/issues/27#issuecomment-531153222

First of all, tha

[2019-12-31 06:09] abhiTronix commented on #30
@takacsd Thanks for addressing this issue.

Thanks for confirming it. Glad it worked for you.

It worked and solved my issues instantly.

**Yup, I recently compiled separate exclusive binaries for Raspbian Buster OS which can be found here: https://sourceforge.net/projects/raspberry-pi-cross-compilers/files/Exclusive%20%20Toolchains/Raspbian%20Buster%20Cross-Compiler%20Toolchains/**

**This is a U

[2020-01-01 12:03] takacsd commented on #30
It is totally clear, I'm also just doing a hobby project. But if you would put this same table somewhere in the wiki, that would already help a lot.

Hard to give testing feedback if we don't know it's existence.  :wink:
If I were you, I would list the experimental toolchain right in the middle of the **features** on the main page.

Just my two cents. Anyway thanks for the work you put in this alr

[2020-01-01 13:36] jimcruse opened #31 "Documentation says 9.1 even when 9.2 is also available"
Documentation says latest gcc vs 9.1 even though 9.2 is available, on your sourceforge site...
I know it actually has both 9.1 and 9.2 it just gets confusing
And I think you should get credit for being 9.2 , which I've been using for a month or so..

[2020-01-01 14:42] abhiTronix commented on #31
@jimcruse Sure, doing it now.

[2020-01-01 14:44] abhiTronix commented on #30
@takacsd Very convincing argument. I'm adding this in docs right now. Thanks

[2020-01-02 15:04] abhiTronix commented on #30
**Successfully resolved in commit 5663480**

[2020-01-02 15:04] abhiTronix commented on #31
**Successfully resolved in commit 5663480**

[2020-01-02 15:04] #31 closed

[2020-01-15 23:20] PR8KW commented on #16
Hi, I like to compile a g++8 project on Raspbian stretch RPI 3B.
I try to follow the temporary native compiler instruction...
I download version native-gcc-8.3.0-pi_2-3.tar.gz and extract to /opt/native-pi-gcc-8.3.0-1

My commands:
`PATH=/opt/native-pi-gcc-8.3.0-1/bin:$PATH
LD_LIBRARY_PATH=/opt/native-pi-gcc-8.3.0-1/lib:$LD_LIBRARY_PATH

sudo ln -sf /usr/include/arm-linux-gnueabihf/asm /usr/includ

[2020-01-16 08:49] abhiTronix commented on #16
@PR8KW **Kindly print the output of the following command from your raspberry pi terminal:**

[code]

[2020-01-16 13:20] PR8KW commented on #16
@abhiTronix Hi, please found results.

`
$ tree  /usr/include/sys
tree  /usr/include/sys
/usr/include/sys
├── asoundlib.h
└── sys -> /usr/include/arm-linux-gnueabihf/sys
`

Many Thanks

[2020-01-16 13:45] abhiTronix commented on #16
**@PR8KW This a wrong output. Can you try these commands in your Pi terminal instead:**

[code]

**and see if your program compiled successfully without errors? I'm waiting for your feedback.**

[2020-01-16 14:37] PR8KW commented on #16
@abhiTronix
Many thanks, now no more errors during compile, just some warnings, but probably related to code...

Many thanks again, and congratulations for your project.

[2020-01-17 03:31] abhiTronix commented on #16
@PR8KW Thanks for finding this bug, I'll update the docs. Kudos.

[2020-01-28 04:20] abhiTronix opened #32 "Project Enhancements v3.0: Relicensing and Release open-source automated CLI build scripts."
### From Author
Hello fellow developers.

I'm proud to announce that this project is now moving into the next phase of Free and open-source software. Since it initial release on Sourceforge, it has now over 7000 downloads from all across the globe within the short 1-year span and still growing fast. So I've decided to open-source all build-scripts(used to compile these toolchains easily) that I've

[2020-01-28 08:03] rcrespir opened #34 "Cross-Compiler and Buildroot"
Hi,

I am trying to use your cross-compiler along with buildroot. My host is an Ubuntu 16.04 and the target is Raspberry PI 0 W.

I am using the cross-pi-gcc-8.3.0-0 and following next instructions: https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Cross-Compiler:-Installation-Instructions

[code]

First I have tried with the temporary installation and after with permanent, but any o

[2020-01-28 08:18] abhiTronix commented on #34
@rcrespir Seems unwanted values in your `LD_LIBRARY_PATH`, Try unsetting it with:
[code]
and try again.

[2020-01-28 13:30] rcrespir commented on #34
@abhiTronix

Ok, I have unset LD_LIBRARY_PATH, and building fails with:

[code]
Maybe I am not defining correctly the paths?
 When installing the cross-compiler, I am running the "Permanent installation "commands from the ~ directory.
`ibercomp@ibercomp-MS-7994:~$ echo 'export PATH=/home/ibercomp/rcr/tools/toolchains/sourceforge/rpi0w/cross-pi-gcc-8.3.0-0/bin:$PATH' >> .bashrc`

And then, I have t

[2020-01-28 14:04] abhiTronix commented on #34
@rcrespir That's why it is not recommended to mix the Permanent installation method and Temporary method since you're unsetting `LD_LIBRARY_PATH` but you're not removing it from `.bashrc` and unsetting `LD_LIBRARY_PATH` also removes other important linker paths. **Try the following steps to reverse it:**

- re-edit `.bashrc` and remove `export PATH=/home/ibercomp/rcr/tools/toolchains/sourceforge/r

[2020-01-29 08:32] rcrespir commented on #34
.Hi,
.
I have followed the steps above and I get the same failure.

Maybe there is an incompatibility between the toolchain and buildroot (buildroot 2019.02.09)? I don't know if you are used to buildroot, but I am new on it. Please find attached my buildroot defconfig, maybe I have to add something to the toolchain config.

This config worked perfectly with the raspberry/tools toolchain [https://g

[2020-01-29 09:01] abhiTronix commented on #34
@rcrespir  What OS are you using on your Raspberry Pi 0 W? and any reason for using this `BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="rpi-4.19.y"` Kernel? Also, are you following any online tutorial to compile it?

[2020-01-29 09:29] rcrespir commented on #34
I am building my own image with Buildroot, based on the kernel https://github.com/raspberrypi/linux/tree/rpi-4.19.y. I am using  `rpi-4.19.y`  because it's the one by default on the repository.

Kind regards,

Rafa

Basically I have followed this two:
https://microchipdeveloper.com/32mpu:buildroot-custom-project
https://bootlin.com/doc/training/buildroot/buildroot-labs.pdf

[2020-01-29 09:58] abhiTronix commented on #34
@rcrespir There can be many reasons for why this is not working: Maybe some important libraries are missing from your machine., Maybe you're using the wrong configuration, or maybe this toolchain is incompatible. The tutorial links you provided are not meant exclusively for Raspberry Pi, therefore trying to cross-compile something from scratch will not work and not an ideal thing to do.

**Solutio

[2020-01-29 09:58] #34 closed

[2020-02-01 14:42] abhiTronix commented on #30
Realeasing support for Raspbian Buster(Debian 10) ARM/ARM64 Toolchains #35

[2020-02-05 16:53] #1 closed

[2020-02-05 16:53] #32 closed

[2020-02-05 16:53] #30 closed

[2020-03-29 07:17] abhiTronix opened #37 "Upgrade to GCC v9.3 and GDB v9.1"
**_This proposal is to integrate the latest GCC v9.3 and GDB v9.1 in build matrix and deploy them through   Project's automated CI builds._**

[2020-04-13 09:24] positron96 opened #39 "Any way to shrink distributions?"
Just downloaded cross-gcc-9.2.0-pi_2-3.tar.gz, it's 2Gb uncompressed. Is it really necessary?

For example, [linaro gcc](https://releases.linaro.org/components/toolchain/binaries/latest-7/arm-linux-gnueabihf/) (7.5) is around 600 Mb uncompressed (100 Mb compressed) and can build RPI software when provided with around 200 Mb more of sysroot libraries (those 600Mb contain their own sysroot libraries

[2020-04-13 10:06] abhiTronix commented on #39
**It's a short-coming of having the old version Glibc on Raspbian OS, and Glibc and GCC are version compatible, [since you cannot build old GCC with new Glibc or vice-versa](https://stackoverflow.com/a/35878953/10158117).** Therefore, If you are trying to build Glibc 2.28 with a more modern GCC, like 9.x, you are going to get a lot of build errors due to incompatibility.  Therefore you need both G

[2020-04-13 10:22] abhiTronix commented on #39
**@positron96 Also see [this](https://wiki.osdev.org/Cross-Compiler_Successful_Builds) for GCC-Binutils version compatibility matrix.**

[2020-04-13 18:02] positron96 commented on #39
Thanks for the info. Although this does not answer why all the binaries are a lot fatter. Aren't they built with debugging symbols by chance?

[2020-04-13 18:04] #37 closed

[2020-04-13 18:04] #27 closed

[2020-04-14 06:10] abhiTronix commented on #39
@positron96 Does anywhere linaro disclosed how they build there binaries? Can you share it?

[2020-04-14 16:49] positron96 commented on #39
Unfortunately, I have no idea. But here what I've googled:
https://lists.linaro.org/pipermail/linaro-toolchain/2012-January/001964.html - a very old and non-working link to linaro wiki with excerpts build commands provided.

More recently, they seem to have switcdhed to use of their own tool [abe](https://web.archive.org/web/20160711182312/https://wiki.linaro.org/ABE) for building (that link is th

[2020-04-15 14:20] abhiTronix commented on #39
@positron96 I also found linaro only supports c and c++(in newer toolchains) but not fortran, That's also a one of reasons why our binaries are bigger.

[2020-04-15 14:28] abhiTronix commented on #39
@positron96 This is most important info. Yes, they are using Linaro ABE (Advanced Build Environment) and provided ABE manifest files, which is specifically developed for this purpose.

Also they are using same configuration as ours. All magic is because of there ABE build scripts.

[2020-04-16 08:38] positron96 commented on #39
I have never seen nor used that ABE but it may just boil down to creating some Makefiles as all those cmake, qmake, autotools and Co do

[2020-04-16 11:33] abhiTronix commented on #39
@positron96 I think I'm not qualified for this job, but someone from community does. I would appreciate a PR or help from someone with experience of building those toolchains. Also I'm extremely busy to try it of my own, therefore I'm pinning this now for bringing this issue to everyone's attention. Thank you for your help.

[2020-05-16 04:50] abhiTronix opened #40 "Bump GCC to version 10.1.0"
This proposal is to integrate the latest GCC v10.1.0 in build matrix and deploy them through automated CI builds on sourceforge.

[2020-05-16 05:00] abhiTronix opened #41 "Merge multiple Project build jobs"
This proposal is to merge and shrink project's different GCC jobs _(based on GCC versions, RpiOS types etc.)_ for each Pi type, into a much simpler/compact form using GitHub Actions [`jobs.<job_id>.strategy.matrix`](https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstrategymatrix) where, you can easily define a matrix of different job configurations. A matri

[2020-05-18 18:18] #40 closed

[2020-05-18 18:18] #41 closed

[2020-06-25 07:51] jackyxinli opened #43 "Download address of gcc is error at script build-scripts/RTBuilder_32b"
line 169, download address of gcc is error, should be "https://ftpmirror.gnu.org/gnu/gcc/gcc-$GCCBASE_VERSION/gcc-$GCCBASE_VERSION.tar.gz"

[2020-06-25 15:07] abhiTronix commented on #43
@jackyxinli No it automatically redirects to original mirror, for e.g. see https://ftpmirror.gnu.org/gcc/gcc-6.3.0/gcc-6.3.0.tar.gz

[2020-06-26 01:31] abhiTronix commented on #43
[`wget` allows max redirects upto 20](http://www.gnu.org/software/wget/manual/html_node/HTTP-Options.html) which is far more than ideal. I don't think this redirecting affects anything in general. Closing.

[2020-06-26 01:31] #43 closed

[2020-06-26 08:13] jackyxinli opened #44 "I modify GLIBC_VERSION as 2.23, build native gcc failed."
Cause my development board supports glibc version is 2.23, so I modify GLIBC_VERSION in RTBuilder_32b as 2.23, build cross gcc succeed, but build native gcc failed. How can I do?

[2020-06-26 09:32] abhiTronix commented on #44
@jackyxinli What board are you using?

That's not enough, you need to compile supported KERNEL according to your board, and change ARCH, FPU, BINUTILS_VERSION too.

Share the log, onl then I'll be able to help you.

[2020-06-27 01:49] abhiTronix commented on #44
**Closed. Kindly provide proper & detailed information to elaborate your issue.**

[2020-06-27 01:49] #44 closed

[2020-06-27 15:56] jackyxinli opened #45 "How to add c standard header files and libraries into compress package file of native gcc?"
Hi, I modify file "build-scripts/RTBuilder_32b", change GLIBC_VERSION from 2.24 to 2.23, then I get cross-gcc and native-gcc after 2 hours. I copy file "native-gcc-9.3.0-pi_2-3.tar.gz" into my development board(cpu is imx6ull), uncompress into /usr/local, change environment PATH as "PATH=/usr/local/bin:$PATH", then create a file "hello.c" only call function "printf", but folder "/usr/local/include

[2020-06-27 17:01] abhiTronix commented on #45
Just follow this wiki instructions: https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Native-Compiler:-Installation-Instructions#raspberry-pi-gcc-native-compiler-arm-toolchains-setup-guide . Also, Please refrain from opening multiple issues of same type.

[2020-06-27 17:01] #45 closed

[2020-06-28 11:31] jackyxinli opened #46 "Why does not copy compiled binaries of glibc into both cross-gcc and native-gcc?"
As my opinion, we can keep completion of both cross-gcc and native-gcc if script could copy compiled binaries of glibc into two edition.
Another question is need add option --disable-werror when configure glibc if version is lower than current system is, like version 2.23. I add this option to configure then I get the whole binaries of glibc-2.23.

regards,
jackyxinli

[2020-06-28 12:55] abhiTronix commented on #46
@jackyxinli Your duplicate issue will be closed immediately without resolving. **Kindly comment under previous issue.**

[2020-06-28 12:55] #46 closed

[2020-07-01 12:43] BakaOsaka opened #47 "ASAN support is broken"
Trying to use the built compiler to enable ASAN support results in a number of errors.

[code]

Using the standard version of GCC shipped with Debian works without issue:
[code]

An strace log shows that it is not searching the standard compiler search paths for the required libraries:
[code]

[2020-07-01 14:18] abhiTronix commented on #47
@BakaOsaka Did you set the environment variables as follows?

[code]

[2020-07-01 15:30] BakaOsaka commented on #47
The issue still remains with the above variables. I used the following command line:
[code]

This gives the same error about being unable to find the required libraries.

[2020-07-01 15:33] jackyxinli opened #48 "binutils build as target edition is missed"
native gcc edition miss binutils which should be compiled as target edition, like as and ld. When run gcc -o hello hello.c, get error message that ld is missing

[2020-07-01 16:52] abhiTronix commented on #48
That makes no sense. You can yourself review build scripts.

It's `gcc-{downloaded GCC version}` not `gcc`.

[2020-07-01 16:52] #48 closed

[2020-07-01 16:55] abhiTronix commented on #47
@BakaOsaka Ok, I'll look into it tomorrow. In the mean time, Can you try other GCC versions and cross-compiler binaries too, available in this project? Thanks.

[2020-07-01 18:50] BakaOsaka commented on #47
Thanks for looking in to this. I've tried with GCC 7.3.0, GCC 8.3.0 and GCC 10.1.0 as well as all variants of Pi and both variants of Raspbian. All builds show the same issue, so I'm assuming something is wrong as part of the build process rather than specific to a version of GCC.

For reference, a compiler built with crosstool-ng does not have this issue - Building with the "-fsanitize=..." flag

[2020-07-28 13:30] abhiTronix commented on #47
@BakaOsaka Thanks for your patience, I've run some tests and found that -fsanitize=address alone does not works.

### Solution:

For GCC(works with clang too), build with the following options to enable address/leak sanitizer.

- For `-march=armv6` architecture CPUs compilers:
[code]
- For any other variant:
[code]

### Options Explanation:

-   `-ggdb and -fno-omit-frame-pointer` - enable the cal

[2020-07-28 13:30] #47 closed

[2020-08-07 07:03] jimcruse opened #49 "Version for Raspberry Pi Desktop (for PC and Mac)"
I want to get the exact same compiler for raspberry pi PC version
Here is the version info from the PC:
  Distributor ID: Debian
  Description:    Debian GNU/Linux 10 (buster)
  Release:        10
  Codename:       buster

[2020-08-07 08:00] abhiTronix commented on #49
@jimcruse What's the kernel running on raspberry pi PC version? Kindly paste the value of `uname -a` command from its terminal.

[2020-08-08 03:08] jimcruse commented on #49
Linux raspberry 4.19.0-10-amd64 #1 SMP Debian 4.19.132-1 (2020-07-24) x86_64 GNU/Linux

[2020-08-08 04:28] abhiTronix commented on #49
@jimcruse First of all, it is not Raspbian/ Raspberry Pi OS. Its just Debian Buster with a modified LXDE Desktop, it is similar to Lubuntu with a x86-64 architecture, similar to what you find in PCs, laptops etc. So think of it as just a Ubuntu running on your PC in a emulator. So if you like to install latest GCC like GCC-10, just do:
[code]

[2020-08-08 08:05] jimcruse commented on #49
Your right it is a PC running the raspberry Ubuntu customization, I wanted to run the same gcc version , so can verify on Ubuntu before testing on pi4, I tried to run as above but I got invalid no release

[2020-08-08 11:19] abhiTronix commented on #49
@jimcruse Yeah, Debian got gcc-10 update for its unstable distribution [`sid` only](https://packages.debian.org/sid/gcc-10), and you've to wait for GCC 10 until next distribution.

[2020-08-08 11:22] abhiTronix commented on #49
It won't be easy task to compile it for x86-64 kernels but I'll give it a try anytime soon.

[2020-08-08 11:29] abhiTronix commented on #49
It won't help, since  x86-64 kernel is completely different from arm kernel, infact ARM is a RISC (Reduced Instruction Set Computing) architecture while x86 is a CISC (Complex Instruction Set Computing) architecture. So your GCC executables may run fine on x86-64 kernels but it might be faulty on arm devices, or vice-versa.

[2020-08-10 04:31] jimcruse commented on #49
I understand the actual compiled file won't work between I'm more thinking compilation issues, i.e. program debugging...

[2020-08-25 04:55] jackyxinli opened #50 "What mean of --with-sysroot and --with-build-sysroot?"
What mean of --with-sysroot and --with-build-sysroot when build cross gcc of step one?
What will i get if i do not specify those two options when configure & make?
What relationship of --with-sysroot, --with-build-sysroot and $INSTALLDIR?

Hope your reply!

[2020-08-25 06:13] abhiTronix commented on #50
`--with-sysroot` specifies the system root or sysroot, a temporary directory that will ultimately become the actual root directory of your operating system. Whereas,  GCC consider `--with-build-sysroot` option dir as the system root  only while building target libraries, instead of the directory specified with -`-with-sysroot`.

The option `--with-build-sysroot` option uses that sysroot for the du

[2020-08-25 06:13] #50 closed

[2020-08-31 12:19] abhiTronix opened #51 "Bump to latest GCC and GDB versions"
This proposal is to integrate the latest GCC v10.2.0  and GDB v9.2 in build matrix and deploy them through automated CI builds on sourceforge.

[2020-09-02 07:37] jackyxinli opened #53 "I get errro after modify configuration"
Hi, abhiTronix
I have question about compile cross gcc at stage 1.

original configuration is:
../configure --prefix= --target=$TARGET --enable-languages=$LANGUAGES --with-sysroot=/$TARGET/libc --with-build-sysroot=$SYSROOTDIR --with-tune=$TUNE --with-arch=$ARCH --with-fpu=$FPU --with-float=hard --with-mode=$MODE --disable-multilib
make -s -j$(nproc) all-gcc
make -s install-gcc DESTDIR=$INSTALLDIR

[2020-09-03 04:18] abhiTronix commented on #53
What is at `--with-sysroot=/ `? and why it is related to this repository? Sorry but this is completely unrelated.

[2020-09-03 04:18] #53 closed

[2020-09-03 06:13] jackyxinli opened #54 "What does --prefix=/$TARGET mean?"
Hi, Abhishek,
What does --prefix=/$TARGET mean?
Why this configuration succeed?
Why I modify --prefix=/ but got fail? [--with-sysroot=/ --with-build-sysroot=$SYSROOTDIR]

[2020-09-04 06:44] abhiTronix commented on #54
This is not forum, please ask somewhere else.

[2020-09-04 06:44] #54 closed

[2020-09-12 16:27] #49 closed

[2020-09-12 16:27] #51 closed

[2020-09-22 17:09] abhiTronix commented on #51
**Successfully resolved and merged in commit 6883115**

[2020-09-22 17:10] abhiTronix commented on #49
@jimcruse **Successfully resolved and merged in commit 6883115**

[2020-09-23 03:11] abhiTronix opened #55 "QT build instructions for Raspberry Pi"
This issue aim for adding step-by-step instructions for cross-compiling latest QT for Raspberry Pi using toolchains available within this project in its Wiki.

[2020-09-27 17:20] xevilstar opened #56 "gcc debs .... feature request"
does this build the .deb files?
if not could you add this feature as an option?

[2020-09-28 03:45] abhiTronix commented on #56
Not yet. The only problem is we compile every binary together as whole which is lot easier to setup and compatible with almost any Linux distribution. So it feels redundant to switch to deb packages instead of compressed binaries. But we would love to have this feature, any PR is welcomed.

[2020-09-28 03:45] #56 closed

[2020-10-12 11:26] jano42 commented on #26
Hi @abhiTronix

Last year I didn't manage with GLIBCXX link problems, then I didn't use your toolchain.

Since one month I've successfully fixed the glibcxx for another reason; simply by linking statically with glibc and glibcxx.

So I would like to try a new time your toolchains, but when I browse your files I can see that there is know a difference between Stretch and Buster distro.

Could you t

[2020-10-12 11:29] jano42 opened #57 "Docker images"
Have you got some docker image incuding your toolchains ?

[2020-10-12 12:10] abhiTronix commented on #57
No, But many people are employing these toolchains in their docker images. **See these example:** https://github.com/search?l=Dockerfile&q=https%3A%2F%2Fsourceforge.net%2Fprojects%2Fraspberry-pi-cross-compilers&type=Code

[2020-10-12 12:10] #57 closed

[2020-10-14 07:30] abhiTronix commented on #26
@jano42 Stretch and Buster Distros are later version of Official Raspbian Debian OS, next to Jessie Distro. Since, default Kernel, Glibc and Binutils(required for GCC to work) version is different on all distros therefore you cannot compile same GCC binary for all of them, and hence this repository provide different GCC binaries compatible with different distros. **Beware, If you've Glibc version

[2020-11-20 18:36] 3ibusiness commented on #34
I had the same problem and was able to solve it with super user mode just type **sudo make**

[2020-12-02 19:04] abhiTronix commented on #27
**Resolved with [Step-by-Step Instruction for Cross-Compiling Latest QT Framework for Raspberry Pi](https://github.com/abhiTronix/raspberry-pi-cross-compilers/blob/master/QT_build_instructions.md) Document.**

[2020-12-02 19:05] abhiTronix commented on #55
**Resolved with [Step-by-Step Instruction for Cross-Compiling Latest QT Framework for Raspberry Pi](https://github.com/abhiTronix/raspberry-pi-cross-compilers/blob/master/QT_build_instructions.md) Document.**

[2020-12-02 19:05] #55 closed

[2020-12-04 18:22] MhmRhm opened #58 "cannot find crt1.o: No such file or directory"
Hello, I encounter this error **cannot find crt1.o: No such file or directory** when I'm using 8.3.0 or 10.2.0 toolchains.
This is my complete `/qt5.15.2/configure` out put:
[configure2020-12-04_21-32.log](https://github.com/abhiTronix/raspberry-pi-cross-compilers/files/5644582/configure2020-12-04_21-32.log)
and I'm using this command:
`../qt5.15.2/configure -opengl es2 -device linux-rasp-pi4-v3d-

[2020-12-05 03:34] abhiTronix commented on #58
This is my complete /qt5.15.2/configure out put:
configure2020-12-04_21-32.log
and I'm using this command:
../qt5.15.2/configure -opengl es2 -device linux-rasp-pi4-v3d-g++ -device-option CROSS_COMPILE=/home/mohammad/Programs/Raspberry/raspiToolchains/cross-pi-gcc-10.2.0-2/bin/arm-linux-gnueabihf- -sysroot /home/mohammad/Programs/Raspberry/qt5pi4B/sysroot -prefix /usr/local/qt5pi -extprefix /home/m

[2020-12-05 03:34] #58 closed

[2020-12-20 21:57] gylead opened #59 "QT_build_instructions.md does not work for me"
I tried to follow your recipe literally with one exception: I didn't use "sudo" for all the commands on the host. I use buster on Raspberry Pi 3 B+ and your toolchain cross-gcc-8.3.0-pi_3+. After rsync the file structure looks very good.

When I start configure qmake is successfully build. But the very first build of a tool with the cross compiler toolchain fails because "crt1.o" is not found:

I

[2020-12-20 22:56] gylead commented on #59
Found closed issue #27 which seems to attack the same issue. Used the same script as suggested in that issue (replacing the configure options for my needs). configure is now running without fatal error.

Unfortunately the config.summary has not even eglfs enabled. From config.log I see that even the tests are not compiled, there seems to be a major issue with the system configuration.

Here is wha

[2020-12-21 02:55] abhiTronix commented on #59
@gylead **Why? If you're not willing to follow carefully crafted instructions, then you must not use it. Follow them properly, an if then it refused to work, then let me know.**

[2020-12-21 02:55] #59 closed

[2021-01-18 00:03] oosavu opened #60 "Hello World cmake with toolchain example?"
Hello!!!
My enviroment is:
- ubuntu 20.04 as "host machine"
- "raspberry pi zero w" with  Raspbian GNU/Linux 10 (buster)  as a target machine
- cross-tool extracted from: cross-gcc-8.3.0-pi_0-1.tar.gz ("Raspberry Pi GCC Cross-Compiler Toolchains(Buster)")
- synced rootfs from raspberry to the host OS
- simple hello_world c++ cmake project with simple toolchain file (actually i have a big project,

[2021-01-18 04:15] abhiTronix commented on #60
@oosavu Just add `link_directories(${rootfs_dir}/usr/lib/arm-linux-gnueabihf)` at end of your `CMakeList.txt` as follows:

[code]

and problem will be solved.

**Warning ⚠️ : Also make sure you ran `rsync` command with `sudo` privileges and fixed symbolic links, as mentioned in docs at [step-6](https://github.com/abhiTronix/raspberry-pi-cross-compilers/blob/master/QT_build_instructions.md#6-sync-r

[2021-01-18 04:17] abhiTronix commented on #60
@oosavu Test solution in previous comment and comment your results here.

[2021-01-18 20:41] oosavu commented on #60
Thanks for quick reply!
- My previous rootfs  was synced without you guide for qt build (but with similar rsync command). I synced it again according to you instructions, including symlinks fixing
- Unfortunely ` link_directories(${rootfs_dir}/usr/lib/arm-linux-gnueabihf)` does not help. I have the same errors.
- **I found the mistake myself! It is the `SET(CMAKE_SYSROOT ${rootfs_dir})`!**

Simila

[2021-01-19 02:58] abhiTronix commented on #60
@oosavu Apologies but I'm unable to understand if you still having bugs after `SET(CMAKE_SYSROOT ${rootfs_dir})` fix or you already resolved them? If there are bugs, are they similar to #3?

Also, by "this line" you meant "unset(CMAKE_C_IMPLICIT_INCLUDE_DIRECTORIES)" ?

Sure, I'm going paste the results of hello world application in our wiki docs.

[2021-01-19 09:45] oosavu commented on #60
@abhiTronix

uuups. My mistake. #3  is NOT a similar bug. Forget about it.

 "this line"  - is "SET(CMAKE_SYSROOT ${rootfs_dir})".

 This works:
[code]

![image](https://user-images.githubusercontent.com/8857259/105016835-2e91ec80-5a54-11eb-9fd4-c258b0e47452.png)

[2021-01-19 10:22] abhiTronix commented on #60
@oosavu Nice. I'll close this once wiki docs are updated. Thank  you.

[2021-01-20 16:41] visglz opened #61 "Crosscompile for 64 Bit Debian 10"
Hi Abhishek,

i am trying to crosscompile a small example libusb example for Raspberry PI OS 64 Bit (Debian 10 / Buster).

The example is basically [testlibusb.c][https://github.com/libusb/libusb/blob/v1.0.22/examples/testlibusb.c] from libusb version 1.0.22 (which is also installed in Raspberry PI OS Buster).

To crosscompile I downloaded "Raspberry Pi GCC 64-Bit Cross-Compiler Toolchains" for gc

[2021-01-20 17:50] abhiTronix commented on #61
@visglz Thanks. Yeah that's right. I  wasn't aware buster 64bit OS is already out. I've been out of the loop lately 😄 . I'll add this to TODO list and will work on it few days.

Kudos for finding this 🎉 . I've already predicted that Raspbian will soon release 64 bit version so I kept this hidden option for it. Also, Thanks again for testing it.

[2021-01-21 15:37] abhiTronix commented on #61
@visglz What's the `strace` on this command _(with downloaded project's binary)_? I'm guessing your locally build binaries is incomplete, but not sure.

[2021-01-21 15:52] abhiTronix commented on #61
@visglz Also can you run `nm` command on both `a.out` _(i.e. from project's GCC binary and your locally build)_ and paste the output here.

[2021-01-21 15:59] visglz commented on #61
Please see here for the relevant strace section:

[code]

My guess is also that my local build gcc is somewhat different :-) , so I re-run `./RTBuilder_64b` two times - same result.

Interestingly the compiler finds the filename without problems when asked:

[code]

Please find attached the output of nm:

* [nm_prebuild_gcc.txt](https://github.com/abhiTronix/raspberry-pi-cross-compilers/files/5850

[2021-01-21 16:45] abhiTronix commented on #61
@visglz Thanks. There were some important sysroot patches missing from build-scripts, and is fixed in commit https://github.com/abhiTronix/raspberry-pi-cross-compilers/commit/fa538612843abd1f82aac1ee211abcbf7e3a2359.  Can you try that branch by re-cloning as follows:

[code]

And then rebuild your binaries by running `./RTBuilder_64b` again.

[2021-01-22 06:05] abhiTronix commented on #61
@visglz Please try the given solution.

[2021-01-22 09:30] visglz commented on #61
Thanks for the patch! I rebuild locally and can confirm that the compiler works now like it should in my example:

	/opt/sdk/cross-pi-gcc-8.3.0-64_3/bin/aarch64-linux-gnu-gcc -Llib -Iinclude -lpng -lz pngtest.c

I found only a minor issue:

The resulting tar file is named `cross-gcc-8.3.0-pi_.tar.gz`. I am not sure about the naming, but I guess it should be a `64` at the end? (RPI_TYPE evalutates

[2021-01-22 09:58] abhiTronix commented on #61
@visglz Thanks for the update. I somehow forgot to patch the build scripts. 🤔

@visglz Wow, that is also a bug, It should be `FOLDER_VERSION` instead of `RPI_TYPE` . I wondered how it remain hidden for long.

Sure thing, this will be a great addition to build-scripts. I will close this issue when all these bugs and enhancements are added.

[2021-01-22 10:09] abhiTronix commented on #61
@visglz I think `set -euxo pipefail` will be more appropriate as _`-x` is used for debugging/xtrace and nounset (a.k.a. set `-u` ) used to exit when script tries to use undeclared variables._

[2021-01-22 10:24] visglz commented on #61
@abhiTronix Yes, this would be useful. In fact I run nearly all my bash scripts with something like the above. :-)

"set -x" is a bit noisy but might be worthwile to set for debug and error reporting.

If you enable "-u" you would need to check the availbility of variables in another way, this is what I do:

[code]

[2021-01-22 14:40] abhiTronix commented on #61
@visglz I think we can add `-v` verbose flag in script for debugged output. Otherwise `set -eo pipefail  is good.

 Wow, that will be a extra burden. Let's leave it for now, and If it is necessary will be add this the future.

[2021-01-22 15:53] abhiTronix commented on #61
@visglz Also, `-v` flag works better than `-x`, as it produce less noisy output.

[2021-01-23 04:12] abhiTronix commented on #61
@visglz Please review PR #62, and suggest any changes if there is a scope of improvement. Thank you.

[2021-01-23 22:44] fuzun commented on #60
Omitting setting CMAKE_SYSROOT is not a solution. It is rather a workaround and does not work for projects where sysroot must be defined.

I think this issue is related with the toolchain. However, I don't know how it works for @abhiTronix given that I followed his guide.

[2021-01-23 23:04] fuzun commented on #59
@abhiTronix This issue is not invalid. I followed your guide without any changes but I get the same error.

@gylead Using -no-gcc-sysroot as a workaround solves the problem. But it is not a real solution.

[2021-01-24 02:41] abhiTronix commented on #60
@fuzun Stop Hijacking other issues, and open your own or rather just quit with your bullshit. First of all, This is not the problem with Toolchains but with CMake _(if you being ignorant)_, since CMake prefixes all paths with the `CMAKE_SYSROOT` value if defined, so `find_library` (used to find required libs for compiling` main.cpp`) will be looking in the wrong places. You can easily test this by

[2021-01-24 02:49] abhiTronix commented on #59
@fuzun First of all, have sense about how to interact with other developers. Secondly this is not a argument "I get the same error.", I need the logs and terminal output of exact error to debug anything as I can't telepathically reach your system to find out myself.

Also, who  said that `-no-gcc-sysroot` is a solution and why and where you need this? There's no  single command in the guide that t

[2021-01-24 03:04] fuzun commented on #59
I have no idea what you are talking about how I interact. I noticed a problem and posted it here. It is obvious that you got triggered for some reason.

I get the same error is clearly an argument given that I followed the same steps you provided and the log is the same if else I would not have said "same error"

In the issue he mentioned, you brought up "-no-gcc-sysroot". And the new guide does n

[2021-01-24 03:05] fuzun commented on #60
It is not related to CMake at all. CMake just passes sysroot params and/or translates paths accordingly. It is probably the broken toolchain that causes this. I don't get this error with any other toolchain.

This issue can be reproduced when CMake is not used. In fact, your Qt guide gives the same problem if "-no-gcc-sysroot" is not used.

The `solution` that you gave in the other issue does not

[2021-01-24 03:07] abhiTronix commented on #60
@fuzun Bring a right attitude on the table to comment here or just begone.

[2021-01-24 03:22] abhiTronix commented on #59
@fuzun You cannot just chim in wherever and say I have this problem and fix it. You bring facts and proof to the table then ask for the help. Qt is highly susceptible to dirty build environments, and it is surely a missing step or configuration that is why it is not working but I cannot say without logs from your system.

"Same error" doesn't mean your system image is identical. Every system is di

[2021-01-24 03:43] fuzun commented on #59
I stated a problem, it is your responsibility if you want to confirm that the problem is there and to fix it. You could have ignored it that'd be your choice or further asked questions but you should not talk like a bigot knowing everything because that just makes you funny.

I did not ask for help. I looked it up on the internet and concluded that its your toolchain that is configured improperly.

[2021-01-24 03:59] abhiTronix commented on #59
@fuzun Stop spamming like mongers and noone asked specifically you to stick to this repository, there are lots of option on the internet _(considering you a legitimate spammer)_ , you can move onto them. Thanks for wasting our time.

[2021-01-26 15:13] visglz commented on #61
There is still one more minor glitch :) , its more a question than an issue, but I would be interested in your option.

When I compiled the pngtest example I was wondering why I had to provide the transitive dependency to libz (-lz):

	/opt/sdk/cross-pi-gcc-8.3.0-64/bin/aarch64-linux-gnu-gcc -Llib -Iinclude pngtest.c -lpng -lz

With with the native compiler I didn't need to provide the transitive

[2021-01-26 17:20] abhiTronix commented on #61
@visglz Behavior of indirect linking for shared libraries varies from linker to linker, so no actual comparison here. According to this [article](https://wiki.ubuntu.com/NattyNarwhal/ToolchainTransition), responsible `ld` option is `--no-copy-dt-needed-entries` (sometimes called `--no-add-needed`, which in latest gcc releases (>4.5) is enabled by default.

Also is `LD_LIBRARY_PATH=/<extracted fold

[2021-01-27 17:06] visglz commented on #61
Thanks for the link, didn't knew about that option. Looks like `--copy-dt-needed-entries` is the  default for all my gcc based compilers. Otherwise it wouldn't search libz in first place.

The folder structure is now the following:

[code]

`compiler` is where I installed the locally build cross-pi-gcc, `rootfs` is where I copied the rootfs of the raspberry Pi. The links which I made above was in

[2021-01-27 17:34] abhiTronix commented on #61
@visglz `-I${RASPI64_BASE}/rootfs/usr/include` must be `-I${RASPI64_BASE}/rootfs/usr/include/aarch64-linux-gnu`

[2021-01-27 17:40] abhiTronix commented on #61
This is weird behaviour. I'll look into it. But for now, stick with what works. Also, see if there's a better settings available for handling sysroot, IDK but it works erratic occasionally.

[2021-01-29 14:22] visglz commented on #39
Just stumbled accross this issue. I guess the difference is that the files are not stripped.

When I compare the cross-pi gcc to the gcc installed on Ubuntu 20.04 the factor is about 4,6 :

[code]

Manually stripping the binaries also brings the cross-pi gcc down to 1,2 MB:

[code]

It should be as easy as calling [make install-strip-gcc](https://github.com/abhiTronix/raspberry-pi-cross-compilers/

[2021-01-30 03:01] abhiTronix commented on #39
@visglz ` install-strip` can break things if ran in build directory. [Official Docs](https://www.gnu.org/prep/standards/html_node/Standard-Targets.html#:~:text=But%20if%20the%20package%20installs,are%20being%20copied%20for%20installation.) says:

Should be ran before tar compression? Also, Is it safe enough? I need to run some tests.

[2021-01-30 08:07] positron96 commented on #39
@visglz Thanks you for digging into this! I honestly don't think that gcc symbols are required to build programs for RPI. Only gcc devs would ever need this.

[2021-02-02 15:47] visglz commented on #39
I don't think it is much of an issue here. The docs you are referring to are general recommendations for Makefile based GNU projects what targets should be available and how they should behave. Of course it makes sense to not call "strip" directly in the build folder and overwrite the freshly linked exectuables but "install" the files first and then strip them in the target location.  I guess the

[2021-02-02 15:56] abhiTronix commented on #39
So just before the tar compression, should I compress each executables separately? Or  `make install-strip-gcc` command is ok?

@visglz Also, Did you tested the Bash-Scripts and is it all safe to `make install-strip-gcc`?

I'm busy in exams right now, will get back to it soon. Thank you for looking into this.

[2021-02-03 09:39] visglz commented on #39
My time is also limited, so I was able only to test the 64 Bit version I was working with.

Please find the PR based on your latest branch for the 64Bit-Variant, including the proposed change for `set -eo pipefail` and a fix for an issue during download of linux kernel (without "-e" the error was silently ignored).

The size difference is impressive:

[code]

I was able to successfully compile my

[2021-02-03 10:07] abhiTronix commented on #39
@visglz Thanks so much for this contribution. I'll look into shortly.

[2021-02-03 17:57] vrichomme opened #64 "/usr/include/features.h:424:12: fatal error: sys/cdefs.h"
Hi,

I have a raspberry pi 4 8Gb running raspbian 64 bits (Buster):

pi@jarvis2:~/Dev $ lsb_release -a
No LSB modules are available.
Distributor ID:	Debian
Description:	Debian GNU/Linux 10 (buster)
Release:	10
Codename:	buster
pi@jarvis2:~/Dev $ uname -a
Linux jarvis2 5.10.5-v8+ #1392 SMP PREEMPT Sat Jan 9 18:56:30 GMT 2021 aarch64 GNU/Linux

(I have downloaded native-gcc-10.2.0-pi_64.tar.gz)

sud

[2021-02-03 18:23] abhiTronix commented on #64
@vrichomme Support for Raspberry Pi 4 (Buster) is still in development. Wait for PR  #62 to be merged or compile it manually as follows:

[code]

[2021-02-03 22:30] vrichomme commented on #64
Thanks.

When I try I have this:

libtool: link: ranlib .libs/libgmp.a
libtool: link: rm -fr .libs/libgmp.lax
libtool: link: ( cd ".libs" && rm -f "libgmp.la" && ln -s "../libgmp.la" "libgmp.la" )
make[1]: *** [Makefile:27341: stage2-bubble] Error 2
make: *** [Makefile:952: all] Error 2

[2021-02-03 23:08] vrichomme commented on #64
Do I need to run it on the raspbian or on a x86_64 host ?
Because on the raspi I don't understand why it recompiles gcc-8.3 when it's already available on the system ?
And the first time I run the script I had an error and the second times I thought it would display the same error but now it's starting again from zero I think...

[2021-02-04 00:57] abhiTronix commented on #64
Yeah obviously you'll need any x86_64 linux machine/system to cross-compile for raspberry pi. You can't cross-compile for raspberry pi itself.

[2021-02-04 01:01] abhiTronix commented on #64
Script will generate two files: `native-gcc-{GCC_VERSION}-pi_64.tar.gz` and `cross-gcc-{GCC_VERSION}-pi_64.tar.gz` at your $HOME director of x86_64 linux machine. Use `native-gcc-{GCC_VERSION}-pi_64.tar.gz` on your pi4.

[2021-02-04 12:40] abhiTronix commented on #39
@visglz What about GDB binaries, does that need stripping too? Any implications to that?

[2021-02-04 23:10] vrichomme commented on #64
Ok I compiled the native and copied it  but  still the same error...

[2021-02-05 00:51] abhiTronix commented on #64
@vrichomme Did you setup the important symlink as mentioned in wiki docs:

[code]

[2021-02-05 07:32] vrichomme commented on #64
My bad. now it works. Sorry for the noise

[2021-02-05 07:58] abhiTronix commented on #64
@vrichomme Idk sometimes we need `/*` and other times we don't. I'll look into this.

[2021-02-05 08:13] abhiTronix commented on #60
Closed in docs: https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Raspberry-Pi-GCC-Cross-Compiler-ARM-Toolchains-CMake-Usage-Guide/17f85af96eafabab415351a21d8d653bd3feca5c

[2021-02-05 08:13] #60 closed

[2021-02-05 08:15] abhiTronix commented on #64
@vrichomme Ok these are new commands:

[code]

[2021-02-05 08:15] #64 closed

[2021-02-05 13:07] #61 closed

[2021-02-05 13:08] abhiTronix commented on #39
**Successfully resolved and merged in commit https://github.com/abhiTronix/raspberry-pi-cross-compilers/commit/7ead221f4f744a9dcd10f3ef07005422db68ec9e**

[2021-02-05 13:08] #39 closed

[2021-02-05 13:09] abhiTronix commented on #61
**Patches merged in commit https://github.com/abhiTronix/raspberry-pi-cross-compilers/commit/7ead221f4f744a9dcd10f3ef07005422db68ec9e**

[2021-02-05 23:19] MartinMajewski opened #65 "G++ does not recognize -fmodules-ts"
Hi there,

I am trying to compile the latest and greatest C++20 features but fail to get even the minimal module example to work on my Raspberry Pi 4 with Buster (64bit). I've installed the native GCC-10.2.0 toolchain.

However, in order to build modules, I'll have to use the "-fmodules-ts" compiler argument, which is rejected by telling me that it is an unrecognized option.

What am I missing? Th

[2021-02-06 00:49] abhiTronix commented on #65
@MartinMajewski The repository is in unstable state due to yesterday's update. Please wait few hours before stable binaries are build or you can manually build them on a x86_64 linux machine as follows:
[code]

[2021-02-06 04:13] abhiTronix commented on #65
@MartinMajewski Please wait for v3.0.6 release (happening in few hours) and then you can download it from sourceforge as usual.

[2021-02-06 09:29] MartinMajewski commented on #65
@abhiTronix Thank's for the reply.

However, I had the binaries downloaded from Sourceforge on Thursday and I'm relating to the native arm64 compilers, which I want to run directly on the RPi 4 with Rasperry OS 64.

Can I assume to build the native compilers with your instruction above as well by changing into the correct subdirectory of your repo?

Best wishes,
Martin

[2021-02-06 09:32] abhiTronix commented on #65
@MartinMajewski No need. It is avaliable here: https://sourceforge.net/projects/raspberry-pi-cross-compilers/files/Bonus%20Raspberry%20Pi%20GCC%2064-Bit%20Toolchains/Raspberry%20Pi%20GCC%2064-Bit%20Native-Compiler%20Toolchains/Buster/GCC%2010.2.0/

[2021-02-06 09:34] abhiTronix commented on #65
@MartinMajewski **Also, use these exact wiki docs to setup these toolchains which are given here:** https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/64-Bit-Native-Compiler:-Installation-Instructions#c-extracting-and-linking-binary

Goodluck, and let me know if something doesn't worked.

[2021-02-06 09:34] #65 closed

[2021-02-06 09:43] MartinMajewski commented on #65
@abhiTronix

1. Just downloaded the latest release that you pointed me to:

Tested quickly with the `-fmodules-ts` option by calling g++-10.2.0 (gcc, c++, etc.) with it but got

`g++-10.2.0: error: unrecognized command-line option ‘-fmodules-ts’`

What do I not understand here?

2. I followed the wiki step by step multiple times on different fresh RPi setups but ended up pointing towards the toolc

[2021-02-06 09:50] abhiTronix commented on #65
@MartinMajewski Try specifying `-std=c++20 - -fmodules-ts` instead.

[2021-02-06 09:54] abhiTronix commented on #65
@MartinMajewski Yes you need addition `-std=c++20` command-line parameter to enable C++20 support. More information here: https://gcc.gnu.org/projects/cxx-status.html

[2021-02-06 09:55] MartinMajewski commented on #65
@abhiTronix Same:

[code]
I tried with -std=c++20 before and this option is recognized but -fmodules-ts is not.

[2021-02-06 09:56] abhiTronix commented on #65
Are symbolic links present:

[code]

[2021-02-06 09:58] abhiTronix commented on #65
@MartinMajewski Can you also try `-std=c++2a` instead of `-std=c++20`?

[2021-02-06 10:00] abhiTronix commented on #65
Or even `-std=gnu++20`? I don't have pi4 or even Raspbian 64-bit installed to test it  directly so this just speculations.

[2021-02-06 10:03] MartinMajewski commented on #65
@abhiTronix

-std=c++2a produces the same result

Question about the symbolic links. The target is the first parameter, right? So this would mean to have the downloaded package copied into /usr/lib/... and /usr/include/... respectively?! But we do not do anything like this in the **Temporary Installation** section. So where do the files come from?

[2021-02-06 10:04] MartinMajewski commented on #65
[code]

[2021-02-06 10:06] abhiTronix commented on #65
What's the output of command `./g++-10.2.0 -v --help 2> /dev/null | sed -n '/^ *-std=\([^<][^ ]\+\).*/ {s//\1/p}'
`

[2021-02-06 10:08] MartinMajewski commented on #65
[code]

[2021-02-06 10:09] abhiTronix commented on #65
@MartinMajewski means `c++20` is present.

[2021-02-06 10:11] abhiTronix commented on #65
@MartinMajewski can you test this on 32bit Raspberry Pi os? Can it problem with arm64/aarch64 only?

[2021-02-06 10:12] MartinMajewski commented on #65
I have to be afk for a while now. Later, I will setup a second image with a 32bit Raspbian OS, retry, and report.

Thank you so much for now! Have a great time!

[2021-02-06 10:14] abhiTronix commented on #65
@MartinMajewski Also try other toolchains other than repository too, and let me know if you find something weird. Thank you and goodluck.

[2021-02-06 11:29] MartinMajewski commented on #65
Which other toolchains do you refer to?

[2021-02-06 11:59] abhiTronix commented on #65
@MartinMajewski https://wiki.musl-libc.org/getting-started.html uses musl instead of glibc.

[2021-02-06 16:48] MartinMajewski commented on #65
Okay, I'm back but with bad news:

[code]

Freshly installed Rasperry OS Buster 32Bit, same issue.

Btw.:

[code]

This does not work! One has to remove `/*` to symlink a folder!

[2021-02-06 16:51] MartinMajewski commented on #65
[code]

[2021-02-06 16:57] MartinMajewski commented on #65
Building the toolchain for 32bit, RPi 3+, Buster now myself.

Have you tried these steps yourself for 10.2.0? I mean, even without any symlinks set, just pure out of the downloaded GCC bin directory g++ should be able to consume this option!

[2021-02-06 17:07] MartinMajewski commented on #65
Seems to be a widely spread issue:

[code]
Something is absolutely not in sync with what GNU GCC is claiming... :-/

[2021-02-06 17:40] abhiTronix commented on #65
@MartinMajewski Ok, I'll check it. Thanks.

[2021-02-06 17:48] abhiTronix commented on #65
C++20 Support in GCC support is still experimental and I'm guessing it hasn't been ported to ARM architecture yet. I'm not sure but you can raise a issue and ask there developers directly: https://gcc.gnu.org/bugs/

[2021-02-06 17:49] abhiTronix commented on #65
@MartinMajewski I was right, here's a similar issue: https://stackoverflow.com/questions/58960695/c20-modules-in-arm-none-eabi-g

[2021-02-06 18:29] MartinMajewski commented on #65
But this is from 2019... with release 10.2 most of the features are implemented. 🤔 I don't see a reason for a language feature being platform dependent. But maybe I'm wrong.

I'm compiling now directly from the original sources. We'll have to wait and see.

Moreover, I will try to get my hands on cross compilers that work on Mac but compile for Pi. Haven't tested this yet. I'll report as soon as n

[2021-02-22 22:31] codewithpassion opened #66 "libstdc++ missmatch in cross compiler"
Hi there,

I ran into an issue when using the GCC 10 cross compiler package for debian stretch.
[code]

It seems like the cross compiler brings a newer libc++ version (3.4.26) as to what is part of stretch (3.4.22).

Acording to https://packages.debian.org/stretch/armhf/libstdc++6/filelist the latest libstdc++6 package is on version .22

Is there a way to address this?

Thanks
Dom

[2021-02-23 14:32] abhiTronix commented on #66
@codewithpassion Thank for addressing this issue. Can you paste the exact URL of the toolchain you're using from this repository.

Also is this error showing up when you running cross-compiled binary on your raspberry pi, Or this just a runtime error when you're cross-compiling?

[2021-02-23 23:25] codewithpassion commented on #66
@abhiTronix
This is the toolchain:
https://jaist.dl.sourceforge.net/project/raspberry-pi-cross-compilers/Raspberry%20Pi%20GCC%20Cross-Compiler%20Toolchains/Stretch/GCC%209.3.0/Raspberry%20Pi%201%2C%20Zero/cross-gcc-9.3.0-pi_0-1.tar.gz

This happened when the compiled program was run on a Pi with stretch.

I narrowed the problem down to different version of libstdc++.so.
When I changed the symlink

[2021-02-24 07:07] abhiTronix commented on #66
@codewithpassion Ok I think you forgot to set `LD_LIBRARY_PATH` as [mentioned in Wiki docs](https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Cross-Compiler:-Installation-Instructions#c1-temporary-installation-use-these-binaries-directly-recommended)

[2021-02-25 17:15] #66 closed

[2021-03-01 13:19] jcelerier opened #67 "Passing --sysroot option to compiler does not seem to work ?"
Hello,
from a x64 linux host, cross-compiling for a 32-bit Pi 4:
(/opt/ossia-sdk-rpi/pi/sysroot/  contains the rsync'd /usr/lib and /usr/include from my pi)

[code]

gives me
[code]

what am I missing ?

I tried adding a ton of link paths but that did not help:

[code]

[2021-03-01 17:17] abhiTronix commented on #67
/opt/ossia-sdk-rpi/cross-pi-gcc-10.2.0-2/bin/arm-linux-gnueabihf-g++ \
    --sysroot=/opt/ossia-sdk-rpi/pi/sysroot/ \
    foo.cpp

@jcelerier Just add `-L/opt/ossia-sdk-rpi/pi/sysroot/ usr/lib/arm-linux-gnueabihf -I/opt/ossia-sdk-rpi/pi/sysroot/ usr/include/arm-linux-gnueabihf` flags to it and should work.

[2021-03-01 17:18] jcelerier commented on #67
It finds libm but not crt1 / crti.o:

[code]

(the files are there:

[code]
)

[2021-03-01 17:19] abhiTronix commented on #67
@jcelerier after adding those flags?

[2021-03-01 17:21] jcelerier commented on #67
yes, see the first lines.

verbose compiler output:
[code]

[2021-03-01 17:26] abhiTronix commented on #67
@jcelerier What are these duplicate paths:

[code]

[2021-03-01 17:27] abhiTronix commented on #67
@jcelerier Also this line `ignoring nonexistent directory "/opt/ossia-sdk-rpi/pi/sysroot/usr/local/include"` check if sysroot is synced properly.

[2021-03-01 17:30] abhiTronix commented on #67
@jcelerier Can you try cleaning path first with command `source /etc/environment ` and then try.

[2021-03-01 17:35] #67 closed

[2021-04-11 19:09] rafal1137 opened #70 "Cross Compiling with Cmake"
I have followed this GUIDE:
https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Raspberry-Pi-GCC-Cross-Compiler-ARM-Toolchains-CMake-Usage-Guide/17f85af96eafabab415351a21d8d653bd3feca5c#build-dummy-hello-world-project

I have added those to my cmake file.
[code]
Have rasbian rootfs with correct linking.

My Toolchain Cmake file. Is a bit different from the guide posted there. But that

[2021-04-12 02:01] abhiTronix commented on #70
@rafal1137 Please remove `set(CMAKE_SYSROOT "${SYSROOT_PATH}")` from your Toolchain Cmake file and try again. Make sure you clean up build directory before trying again.

[2021-04-12 02:03] abhiTronix commented on #70
@rafal1137 Please test it and report back here, check if this fixes your issue. Good luck.

[2021-04-12 02:12] abhiTronix commented on #70
@rafal1137 For more information on why `CMAKE_FIND_ROOT_PATH` is preferred over `CMAKE_SYSROOT ` for cross compiling,  see here: https://stackoverflow.com/a/34077078

[2021-04-12 10:03] rafal1137 commented on #70
@abhiTronix
So I did followed your suggestion there to remove those 2 lines but my project in short might depend on ```CMAKE_SYSROOT``` being set.
Because after testing those changes.

[code]

[2021-04-12 15:39] abhiTronix commented on #70
@rafal1137 Did you made following symlinks before syncing sysroot with RPi?
[code]

Also, check this comment: https://github.com/abhiTronix/raspberry-pi-cross-compilers/discussions/69#discussioncomment-419083

[2021-04-12 15:53] abhiTronix commented on #70
Also, can you test without `CMAKE_FIND_ROOT_PATH` and `CMAKE_PREFIX_PATH ` as following toolchain cmake configuration:

[code]

but keep `CMAKE_SYSROOT` and `CMAKE_FIND_ROOT_PATH_MODE_PROGRAM NEVER` as previous.

[2021-04-12 16:13] rafal1137 commented on #70
@abhiTronix

This may be tricky because I do not own RPI hardware. I did used 3rd Party sh script to download raspbian.iso and rsync. I can do only run rapsbian on docker. I have tried to ssh into it but I had no experience with docker before back then.

Tried that one with no luck.

[2021-04-12 16:36] abhiTronix commented on #70
@rafal1137 Ok this was the actual problem. Yes, it won't work without these symlinks, see this comment https://github.com/abhiTronix/raspberry-pi-cross-compilers/discussions/69#discussioncomment-419083

[2021-04-12 16:38] abhiTronix commented on #70
@rafal1137 Can you try these commands after setting correct `RASPBIAN_ROOTFS` value:
[code]
and see if it works?

[2021-04-12 16:58] rafal1137 commented on #70
Well I did went another way to make those symlinks. Now it started to compile again.
But its still fails because it still  complains about

[code]

[2021-04-12 17:03] rafal1137 commented on #70
@abhiTronix ^
Just to ping you.

[2021-04-12 17:23] abhiTronix commented on #70
@rafal1137 Seems like your sysroot missing some important Rpi packages.

Answer these queries:
- What toolchain from this project are you using? Paste the downloading page link or screenshot or something else?
- Which Raspberry Pi model are you targeting in your project.
- What exact version of Raspbian sysroot are you using in your project?  (Stretch or Buster)
as they all are correlated.

Also,

[2021-04-12 18:01] rafal1137 commented on #70
@abhiTronix

* I am using precompilined toolchain downloaded from links you provide ```cross-gcc-10.2.0-pi_2-3.tar.gz```
  Also link:
  https://deac-fra.dl.sourceforge.net/project/raspberry-pi-cross-compilers/Raspberry%20Pi%20GCC%20Cross-Compiler%20Toolchains/Buster/GCC%2010.2.0/Raspberry%20Pi%202%2C%203/cross-gcc-10.2.0-pi_2-3.tar.gz

* I am targeting RPI 2/3 armv7 arch compatible.
* Sysroot is f

[2021-04-12 20:37] rafal1137 commented on #70
@abhiTronix Also I did just ls that file. And it shows there with symlinking.

[code]

[2021-04-13 01:47] abhiTronix commented on #70
@rafal1137 Can you try compiling bare-minimum C++ Program with `--sysroot` flag as follows:

[code]

to ensure sysroot is working fine.

[2021-04-13 09:49] rafal1137 commented on #70
@abhiTronix Just did it and this what happened
[code]

[2021-04-13 10:47] abhiTronix commented on #70
@rafal1137 Real problem is still hidden. Please, try with verbose parameter and link directories directly as follows:

[code]

and paste the complete output here.

[2021-04-13 11:50] rafal1137 commented on #70
@abhiTronix This is entire output:
[code]
Wait what it can't find GLIBC_2.4 ?

[2021-04-13 12:30] abhiTronix commented on #70
@rafal1137 IMO we are close to solution as `-lm` is set correctly this time. So `--sysroot=/opt/rootfs` will set correct sysroot but `--sysroot=/opt/rootfs/` doesn't. Can you iterate above command by eliminating all linked directories:

[code]

Thank you for helping in debugging this issue.

[2021-04-13 13:12] rafal1137 commented on #70
@abhiTronix
[code]

[2021-04-13 13:24] abhiTronix commented on #70
@rafal1137 again. Sorry for the inconvenience. Can you share how you setup sysroot, I'll try everything locally and share the final result here by tomorrow.

[2021-04-13 14:02] rafal1137 commented on #70
I will share the sysroot setup here since uploading entire rootfs could take too long since my upload is not good for such things.
I am using this repo https://github.com/kclyu/rpi_rootfs with some changes on my side.

Steps I did inside a rpi_rootfs repo:
* inside scripts dir there is ```update_upgrade_install_package.sh``` which I have eddited
[code]
* I did runned command:
[code]
Note: I did do

[2021-04-13 14:02] rafal1137 commented on #70
@abhiTronix ^

[2021-04-14 14:10] abhiTronix commented on #70
@rafal1137 I made some changes to https://github.com/kclyu/rpi_rootfs sysroot and bare minimum example is seems to be working ok, but the real problem with sysroot within cmake is still as it is. I'll run more test and to find the root cause, will update you when it is ready. IMO, the toolchain itself might need some rework. In the mean time you can try [linaro ARM toolchains](https://developer.ar

[2021-04-14 14:11] #70 closed

[2021-05-02 16:53] distlibs opened #72 "libgomp.so.1, needed by ../src/libdoublefann.so.2.2.0, not found"
Hi. I trying to build [libfann/fann](https://github.com/libfann/fann) on Ubuntu machine for Raspberry Pi 4. I get error:
 `libgomp.so.1, needed by ../src/libdoublefann.so.2.2.0, not found`

Information:
Host OS: Ubuntu 20.04
Target OS: Buster 32-bit OS
Toolchain: Raspberry Pi GCC Cross-Compiler Toolchains/Buster/GCC 8.3.0/Raspberry Pi 3A+, 3B+, 4/cross-gcc-8.3.0-pi_3+.tar.gz

[code]

[2021-05-02 17:06] abhiTronix commented on #72
@distlibs Kindly paste your `cmake` file and also `CMakeError.log` file from build folder. Also what instructions are you using?

[2021-05-03 13:53] abhiTronix commented on #72
@distlibs Please provide requested information in order to debug this issue.

[2021-05-03 13:53] #72 closed

[2021-05-03 15:03] distlibs commented on #72
Hi, @abhiTronix

pi.cmake:
[code]
CMakeError.log:

[code]

Instructions:
[code]

[2021-05-03 15:21] abhiTronix commented on #72
@distlibs Errors indicate you need to provide sysroot files to cross-compile it properly. Please follow according to instructions given in this wiki page: https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Cross-Compiler-CMake-Usage-Guide-with-Raspbian-32-bit-Image#cross-compiler-cmake-usage-guide-with-raspbian-32-bit-image

[2021-05-03 15:50] distlibs commented on #72
I followed instructions to build Sysroot. I copied your PI.cmake. I changed tools path to:
`set(tools /opt/cross-pi-gcc)`

Now I got this error:
[code]

[2021-05-03 16:06] abhiTronix commented on #72
Please wait till I test this locally.

[2021-05-03 17:15] abhiTronix commented on #72
@distlibs Not reproduceable:

Output of `cmake`:
[code]

Output of `make`:

[code]

[2021-05-03 17:21] abhiTronix commented on #72
@distlibs I just added new commit is made to rpi_rootfs that fixed some critical bugs: https://github.com/abhiTronix/rpi_rootfs/commit/df5f3b7d663128fd028ad4e5a3865ef79ea45d69 ,thereby I'll advise to re-clone it and rebuild sysroot. And your problem will be solved(seem output above), also clean build folder before trying again.

[2021-05-03 17:24] abhiTronix commented on #72
@distlibs Also I used GCC `10.2.0` but I don't think that will affect build.

[2021-07-12 14:28] heavygabriel opened #73 "Add more flags for the Raspberry Pi 4"
Hi!
I'm a optimizer maniac and I see that there are not a lot of C/CXX FLAGS that the toolchain is compiled with.
Anyways, I use
` -march=armv8-a+simd+crc+fp+nocrypto -mcpu=cortex-a72+simd+crc+fp+nocrypto -mtune=cortex-a72 -ftree-vectorize -fomit-frame-pointer --param l1-cache-size=80` for my C/CXX flags and I think that this project could benefit from them.

[2021-07-21 00:39] borrrden commented on #66
I'm having this issue as well.  I tried setting `LD_LIBRARY_PATH` but it did not seem to have any effect.  Redoing the symlinks as @codewithpassion mentioned appears to have an effect but I haven't been able to test it yet.  The effect I observed is that without changing the symlink, I get a bunch of undefined symbols in my final binary that end in `@@GBLIBCXX_X.Y.Z` including on that ends in `GLI

[2021-07-21 01:36] abhiTronix commented on #66
@borrrden Nope it can't be exact. **It's a short-coming of having the old version Glibc on Raspbian OS(i.e. [Glibc-v2.24 on buster](https://packages.debian.org/source/stretch/glibc)), and [thereby you cannot build new GCC with old Glibc or vice-versa](https://stackoverflow.com/a/35878953/10158117).** Therefore, If you are trying to build Glibc 2.24 with a more modern GCC, like 8.x/9.x/10.x, you ar

[2021-07-21 01:51] borrrden commented on #66
That explanation makes sense, but then how do you deal with the fact that this newer version of libstdc++ is going to have all these symbols inside of it that are not available on the actual hardware?  Is the only solution to either statically link libstdc++ or ship the newer libstdc++ in your package?  GCC 6.3.0 is not new enough to directly compile a large portion of the C++ we use in the librar

[2021-07-21 02:27] abhiTronix commented on #66
@borrrden all correct libstdc++ binary is located inside our compressed toolchain binary, you just need to point them correctly. `LD_LIBRARY_PATH` patch is just for projects that doesn't care about symlinks. If you're looking for more advanced approach, see [CMAKE GUIDE](https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Cross-Compiler-CMake-Usage-Guide-with-rsynced-Raspberry-Pi-32-bi

[2021-07-21 02:55] borrrden commented on #66
Thanks for responding so quickly.  I understand that the newer libstdc++ is in the toolchain, but it is not on the Pi unless I put it there.  I was under the possibly mistaken understanding that I could run a binary produced by GCC 9.3.0, for example, on a stock install of raspbian 9.  I have CMake set up to compile my binary and it compiles nicely, it's just when it runs on the actual device it g

[2021-07-21 03:12] abhiTronix commented on #66
@borrrden That's why we need `sysroot/rootfs` as described in [CMAKE GUIDE](https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Cross-Compiler-CMake-Usage-Guide-with-rsynced-Raspberry-Pi-32-bit-OS#cross-compiler-cmake-usage-guide-with-rsynced-raspberry-pi-32-bit-os) to compile binaries within your raspberry pi os environment, that's how cross compiling works. When we're cross compiling

[2021-07-21 21:08] sbela opened #74 ""-sysroot" problem"
Following these instructions I have compile problem with missing libraries like libm etc. which is in the sysroot for sure!
These links:
sudo ln -sf -r /usr/include/arm-linux-gnueabihf/asm /usr/include
sudo ln -sf -r /usr/include/arm-linux-gnueabihf/gnu /usr/include
sudo ln -sf -r /usr/include/arm-linux-gnueabihf/bits /usr/include
sudo ln -sf -r /usr/include/arm-linux-gnueabihf/sys /usr/include
su

[2021-07-22 12:27] abhiTronix commented on #74
@sbela Actually sometimes first one works and other times second one. I've not able to find a reliable way to create symlinks. I'm thinking of switching to python script in future.

What's the error, kindly share the log? Did you checked each symlink manually? Also what're you trying to compile?

[2021-07-22 12:43] abhiTronix commented on #73
@heavygabriel These flags are 64bit specific and I don't think so it would be ideal  to hardcode machine specific flags as these toolchains are used for many ARM devices beside raspberry pi.

[2021-07-22 12:43] #73 closed

[2021-07-22 12:47] abhiTronix commented on #74
@sbela Try these symlinks instead:

[code]

[2021-07-22 17:26] sbela commented on #74
Thanks that worked! And after that I had to run the rsync commands... and I misspelled the -I$HOME.. and -L$HOME.. path too so I made triple mistake :) ... my bad!

[2021-07-22 17:26] #74 closed

[2021-07-22 17:31] abhiTronix commented on #74
@sbela Glad it worked 👍🏽

[2021-08-10 12:48] ValeriiKim opened #75 "Compiler cross-pi-gcc-8.3.0-0 is broken"
Good day, sir
I have followed your instruction "Cross-Compiler CMake Usage Guide with rsynced Raspberry Pi 32-bit OS" (link: https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Cross-Compiler-CMake-Usage-Guide-with-rsynced-Raspberry-Pi-32-bit-OS#cross-compiler-cmake-usage-guide-with-rsynced-raspberry-pi-32-bit-os) for simple CMake project setup.
Everything was fine until I run this com

[2021-08-10 17:06] ValeriiKim commented on #75
For this command
`sudo ln -sf /usr/include/arm-linux-gnueabihf/openssl/* /usr/include/openssl/`
I get following:
`ln: target '/usr/include/openssl/' is not a directory: No such file or directory`
Also these symlinks are different compared to that posted in tutorial. But I think this time I get different output.

[2021-08-10 18:01] abhiTronix commented on #75
@ValeriiKim This is not that important is you're not using openssl.

Can you paste the log? Also, what are you trying to compile, please do share if its open-sourced?

[2021-08-10 18:14] ValeriiKim commented on #75
For example I get this log after `sudo ln -sf /usr/include/arm-linux-gnueabihf/asm/* /usr/include/asm/`

[2021-08-11 01:23] abhiTronix commented on #75
@ValeriiKim Did it affected the cross-compiling or you getting same error? **Can you generate `output.txt` file using following command and then share it here:**
[code]

Photos? Is it a software? Please link the project.

Are you getting same error with cross-compiling `raspicam`?

[2021-08-11 09:46] ValeriiKim commented on #75
Currently I don't have repository with my project because there is much work to do (at first I want to continue my work in the user-friendly environment...)
I think now I got it to work: after the command
`cmake -DCMAKE_TOOLCHAIN_FILE=~/Projects/picamera/PI.cmake -DCMAKE_BUILD_TYPE=Debug ..`
I get:
[code]
And after `make`:
[code]
But the strange thing is that in `main.cpp` VScode shows me that `io

[2021-08-12 04:20] abhiTronix commented on #75
@ValeriiKim This is because your code have problems. https://stackoverflow.com/questions/56497296/no-operator-matches-these-operands-operand-types-are-stdistream-const-cha

[2021-08-12 04:20] #75 closed

[2021-08-12 06:50] ValeriiKim commented on #75
I am sorry but my code is just the **copy of yours** (https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Cross-Compiler-CMake-Usage-Guide-with-rsynced-Raspberry-Pi-32-bit-OS#cross-compiler-cmake-usage-guide-with-rsynced-raspberry-pi-32-bit-os). This is my `main.cpp`:
[code]
And here is my `CMakeLists.txt` file:
`
cmake_minimum_required(VERSION 3.10)
project(cmake_test)
set(CMAKE_VERBO

[2021-08-12 07:29] abhiTronix commented on #75
@ValeriiKim What's your PI.cmake?

[2021-08-12 07:31] ValeriiKim commented on #75
Here it is (like an example):
[code]

[2021-08-12 07:35] abhiTronix commented on #75
@ValeriiKim Try compiling this code:

[code]

[2021-08-12 07:36] abhiTronix commented on #75
Also, what's output of this command:

[code]

[2021-08-12 07:42] ValeriiKim commented on #75
Here is the output:
[code]
Now it's complaining about this:
`no operator "<<" matches these operands -- operand types are: std::ostream << const char [26]`

[2021-08-13 04:18] abhiTronix commented on #75
@ValeriiKim That's weird. I'll retest this example in my free time. Can you instead try: https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Cross-Compiler-CMake-Usage-Guide-with-Raspbian-32-bit-Image#cross-compiler-cmake-usage-guide-with-raspbian-32-bit-image

[2021-08-13 08:29] ValeriiKim commented on #75
Ok, thank you! I should say that I tried **one more thing**. I followed your instructions (with an adjustment from your first answer to my question) to install cross-compilation environment, but in the end I tried _another_ cross-compiler and toolchain file (you can find it here: https://github.com/Pro/raspi-toolchain). After some fuss (deleting the `build` directory, cleaning, etc.) my project st

[2021-08-27 22:48] ValentiWorkLearning opened #76 "Qt 5.15.2 fails to run on RPi 3B with GCC10.2 crosstoolchain"
I've tried to use GCC10.2 cross-compiler for building Qt following to your guide.
Raspberry setup: the latest available Raspberry OS.
Host setup: Ubuntu 20.04 with 10.2 cross-compiler.

The building process was completed successfully except a one thing. It seems impossible to launch the compiled binary( I used qopenglwidget from Qt examples) with the 10.2 cross-tools. The maximum available glibcxx

[2021-08-27 23:17] ValentiWorkLearning opened #77 "Qt 5.15.2 configuration for raspberry 3B"
I've decided to separate the issue from the previous one.

I guess, it hasn't been covered in the Qt building guide, but the default configuration for the `linux-rasp-pi-3-g++` produces the following result:
[code]

[2021-08-27 23:17] ValentiWorkLearning commented on #77
Configure was launched with the following options:

[code]

[2021-08-27 23:19] ValentiWorkLearning commented on #77
It seems, that the default configuration doesn't support hardware OpenGL. I guess, some parts of this guide should be taken into account :smile:
https://wiki.qt.io/RaspberryPi2EGLFS#Step_by_step

[2021-08-28 01:40] abhiTronix commented on #77
@ValentiWorkLearning That's a well-documented guide that wasn't previously available. I guess we can copy the configurations  and properly credit the page in our guide. But due to limited time and more focus on my other projects, I'll not able make these changes as of now. However any related PRs are always welcomed.

[2021-08-28 02:26] abhiTronix commented on #76
@ValentiWorkLearning Good finding. Apparently funny thing is that I didn't know till today that GCC on Linux OSes uses [patch glibc called `libc6`](https://sources.debian.org/patches/glibc/2.28-10/) _(Glibc (better known as GNU C Library) has a fork for linux which is called libc6. Libc6 is available via apt.)_ Source: https://askubuntu.com/a/737294.

Currently, Raspbian OS officially provide patc

[2021-08-28 08:02] ValentiWorkLearning commented on #77
@abhiTronix I'll try to figure out how to properly launch Opengl. I guess, there is just a few changes for RPi3

[2021-08-28 08:05] ValentiWorkLearning commented on #76
As I know, glibc cannot be built without rebuilding the whole system via buildroot/yocto because of the dependent software. Probably I'm mistaking. I'll try to find more details

[2021-08-28 09:15] abhiTronix commented on #76
Nah, you don't need whole system while building glibc itself, you just need the kernel header files. But for cross compiling you need complete system sysroot.

[2021-08-30 19:00] ValentiWorkLearning commented on #77
I found solution. It's necessary to specify the sysroot dir to vc libs.
[code]

The official qt qmake.conf is:
[code]
which leads to the broken EGL drivers configuration

### Note. Everything above is related to the `linux-rasp-pi3-g++`

[2021-09-08 19:57] jteng7 opened #78 "Errors when trying to build Hello World project"
I'm seeing the following errors below when I try to build the Hello World project from here: https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Cross-Compiler-CMake-Usage-Guide-with-rsynced-Raspberry-Pi-32-bit-OS#cross-compiler-cmake-usage-guide-with-rsynced-raspberry-pi-32-bit-os

Do you know what could be wrong?

[2021-09-09 02:57] abhiTronix commented on #78
@jteng7

Did you checked if this file paths `~/cmake-test/tools/cross-pi-gcc-8.3.0-2/bin/arm-linux-gnueabihf-gcc` and `~/cmake-test/tools/cross-pi-gcc-8.3.0-2/bin/arm-linux-gnueabihf-g++` exists or not? Follow the docs carefully.

[2021-09-09 02:57] #78 closed

[2021-09-09 13:54] jteng7 commented on #78
Both paths exist:
![image](https://user-images.githubusercontent.com/5109945/132698554-ac7aa83f-6662-4628-bf0d-2f4a52c9e6f5.png)

Also, I double-checked all dependencies are installed.

One thing I noticed in the docs is I had to create a CMakeLists.txt file, not CMakeList.txt file (note the plural) -- is that an error in the docs?

[2021-09-09 17:06] jteng7 commented on #78
An update: I got it working!

Changes I had to make:

- In PI.cmake, I had to change the tools and rootfs_dir paths to point to the full path (i.e. replace the tilde with the actual path with the home directory)
- In CMakeLists.txt, I had to change the second parameter of add_executable to main.cpp instead of foo.cpp, to match the file to compile

[2021-09-09 17:26] abhiTronix commented on #78
@jteng7 Aren't you running Linux?

Thanks I'll change it.

[2021-09-09 17:30] abhiTronix commented on #78
It should be `CMakeLists. txt`.

[2021-09-09 17:35] abhiTronix commented on #78
@jteng7 Can you try set(tools $ENV{HOME}/cmake-test/tools/cross-pi-gcc-8.3.0-2) instead of `set(tools /home/test/cmake-test/tools/cross-pi-gcc-8.3.0-2)`?

[2021-09-09 17:38] abhiTronix commented on #78
Thanks, Docs updated.

[2021-09-09 18:03] jteng7 commented on #78
Yeah, but one wrinkle is I'm running Ubuntu through VMWare, so that might be a reason for the issues I'm seeing?

Thanks - using this works as well 👍

[2021-09-30 23:22] cooked opened #81 "fatal error: sys/cdefs.h: No such file or directory"
Hi,
thanks for the nice framework. I've managed to cross compile and deploy Qt from linux PC to Raspberry Pi 4 (gcc 8.3.0 toolchain).
I'm trying to compile a test program for the RPi in QtCreator on the PC, but I get the following error. Any clue ?

In file included from /home/stefano/qtrpi4/tools/cross-pi-gcc-8.3.0-2/arm-linux-gnueabihf/include/c++/8.3.0/arm-linux-gnueabihf/bits/os_defines.h:39,

[2021-10-01 02:34] abhiTronix commented on #81
@cooked Seems like you either failed to symlink `sys` directly properly or failed to rsync `/usr/include` directory from your raspberry pi.

### Solution

1. First, Make symlinks properly on your raspberry pi:
[code]

2. Then, Do [step-6](https://github.com/abhiTronix/raspberry-pi-cross-compilers/blob/master/QT_build_instructions.md#6-sync-raspberry-pi-sysroot-most-important) and [step-7](https://

[2021-10-01 02:34] #81 closed

[2021-10-01 17:04] cooked commented on #81
Hi @abhiTronix , thanks that solved the problem. Weirdly enough in my command line history I could see that I had issued already all the simlinks exactly as per your instructions

[2021-10-01 17:08] abhiTronix commented on #81
@cooked Your're not wrong. Symlinks behave weirdly when there's already similar named folder/file present at destination, they sometime works and other times not. That's why I'm looking for alternatives to create symlinks safely.

[2021-10-06 12:29] vishnucool220 opened #82 "Cmake build fails for raspberry pi 4 target"
I have followed your tutorial and everything works smooth till i select cmake instead of qmake. Qt projects based on qmake build system works fine but Qt projects based on cmake is not working. I get the following Cmake build errors:

![image](https://user-images.githubusercontent.com/7951522/136201890-9338c31f-0edd-4e78-92d9-9a349256d51b.png)

What exactly is the problem? and how can i debug it?

[2021-10-06 13:02] abhiTronix commented on #82
How your're using cmake, what's content of your cmake file, and on which system(linux, mac, WSL(windows)) you're using it?

[2021-10-06 13:40] abhiTronix commented on #82
@vishnucool220 It will not work, you atleast need rsynced sysroot from raspberry pi to be able to build anything. See this doc: https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Cross-Compiler-CMake-Usage-Guide-with-rsynced-Raspberry-Pi-32-bit-OS#cross-compiler-cmake-usage-guide-with-rsynced-raspberry-pi-32-bit-os

[2021-10-10 02:34] abhiTronix opened #83 "Update binaries to latest versions"
This proposal is to move to the latest GCC, binutils and GDB versions in build matrix and deploy them on sourceforge.

This will replace:

- GCC v10.2.0 ➡ v10.3.0
- GCC v9.3.0 ➡ v9.4.0
- GDB v9.2 ➡ v10.2
- Binutils v2.31 ➡ v2.31.1

[2021-10-10 02:42] #83 closed

[2021-10-10 17:44] abhiTronix commented on #81
**@cooked New [SSymlinker](https://github.com/abhiTronix/raspberry-pi-cross-compilers/blob/master/utils/SSymlinker) bash script here to create symlinks more reliably. 😃**

[2021-10-24 00:35] cooked commented on #81
that seems to work a treat !!!

in the meantime got stuck on another error that might be related and hopefully you can help me solve
when I try to crosscompile on PC my program I get:
`arm-linux-gnueabihf/bin/ld: warning: libmmal_core.so, needed by /home/stefano/qtrpi4/sysroot/usr/lib/arm-linux-gnueabihf/libavcodec.so.58, not found (try using -rpath or -rpath-link)`

I've qt built with opencv supp

[2021-11-14 19:02] nasser-miah commented on #34
Try:

unset LD_LIBRARY_PATH; make

Which worked without "sudo" for me.

[2021-11-21 13:17] distlibs opened #84 "Raspberry Pi GCC Cross-Compiler Toolchains (Bullseye)"
When GCC cross-compiler toolchains will be available for Raspberry Pi OS Bullseye?

[2021-11-22 08:23] matzrm commented on #84
Same here

[2021-11-26 07:44] SFMetec opened #85 "crtn.o crt1.o crti.o is not valid destination"
Hello,

I'm following your guide, I'm using raspberry pi3 b+ with Raspbian Stretch Lite.

When I add symbolic link with SSymlinker I have the errors below:

[code]

[code]

[code]

What am I doing wrong?

[2021-11-26 08:24] abhiTronix commented on #85
@SFMetec What's the value if you run `readlink -f /usr/lib/crti.o`

[2021-11-26 08:30] SFMetec commented on #85
[code]

[2021-11-26 08:36] abhiTronix commented on #85
@SFMetec OK I found the problem. Please wait.

[2021-11-26 08:37] SFMetec commented on #85
This the result of other link

[code]

[2021-11-26 08:45] abhiTronix commented on #85
@SFMetec Re-clone and check if problem is fixed.

[2021-11-26 08:48] SFMetec commented on #85
[code]

[2021-11-26 08:48] abhiTronix commented on #85
@SFMetec Hold on another bug is there.

[2021-11-26 09:29] abhiTronix commented on #85
@SFMetec Finally done, check again.

[2021-11-26 09:31] SFMetec commented on #85
Thank a lot, now I can go on

[code]

[2021-11-26 09:32] abhiTronix commented on #85
@SFMetec Thanks a lot. It was a very annoying bug.

[2021-11-26 12:04] SFMetec commented on #85
During compilation I have the error below
[code]

[2021-11-26 12:56] SFMetec commented on #85
After resync the build is successfully terminated but when I try to compile a new empty project I have:

[code]

[2021-11-26 13:07] abhiTronix commented on #85
Meaning rysnc didn't worked peoperly, resync each folder again and look for any error.

[2021-11-26 13:09] abhiTronix commented on #85
and this is a unresolved QT bug: https://bugreports.qt.io/browse/QTBUG-72956

[2021-11-26 15:42] SFMetec commented on #85
The rync works fine because the cdefs.h is available in ~/rpi-qt/sysroot/usr/include/arm-linux-gnueabihf/sys

But the error is still there

[2021-11-26 15:45] abhiTronix commented on #85
That's not important, Is it available at `~/rpi-qt/sysroot/usr/include/sys`?

[2021-11-26 15:48] SFMetec commented on #85
No is not

[2021-11-26 15:53] abhiTronix commented on #85
Then symlink failed. Check on Raspberry pi, does it have that?

[2021-11-26 15:54] abhiTronix commented on #85
Also, what's `'*'`?

[2021-11-26 15:57] SFMetec commented on #85
`'*' -> '/usr/include/arm-linux-gnueabihf/sys/*'
`

[2021-11-26 15:59] SFMetec commented on #85
`pi@raspberrypi:/usr/include/arm-linux-gnueabihf/sys $ ls -la | grep cdefs.h
-rw-r--r--  1 root root 15651 Feb  6  2019 cdefs.h
`

[2021-11-26 16:01] abhiTronix commented on #85
Check in `/usr/include/sys`

[2021-11-26 16:01] abhiTronix commented on #85
Does `/usr/include/sys` even exist?

[2021-11-26 16:03] SFMetec commented on #85
No it doesn't exist

[2021-11-26 16:04] abhiTronix commented on #85
SSymlinker didn't worked. Check other symlinks like: `asm` `gnu` `bits`?

[2021-11-26 16:05] abhiTronix commented on #85
/usr/include/asm
/usr/include/gnu
/usr/include/bits

[2021-11-26 16:07] SFMetec commented on #85
What I have to check?

[2021-11-26 16:07] abhiTronix commented on #85
Also, run `ls -la` in `/usr/include`

[2021-11-26 16:08] abhiTronix commented on #85
Check if following symlinks exists or not on Raspberry pi.
[code]

[2021-11-26 16:09] SFMetec commented on #85
[code]
[code]
[code]

[2021-11-26 16:11] abhiTronix commented on #85
@SFMetec So this problem narrow downs to `sys` folder only.

[2021-11-26 16:14] abhiTronix commented on #85
@SFMetec This wrong. You have to remove `'*'` first and then make symlink.

Do this:
[code]
Then run SSymlinker

[code]

[2021-11-26 16:18] SFMetec commented on #85
`sudo rm /usr/include/'*' # beware '*' is in quotes`

or

`sudo rm /usr/include/sys/'*' # beware '*' is in quotes`

?

[2021-11-26 16:19] abhiTronix commented on #85
`'*'` is in `/usr/include/sys` or `/usr/include`?

[2021-11-26 16:21] SFMetec commented on #85
[code]

[2021-11-26 16:22] abhiTronix commented on #85
Then do `sudo rm /usr/include/sys/'*' # beware '*' is in quotes`.

[2021-11-26 16:22] abhiTronix commented on #85
Leave quotes.

[2021-11-26 16:25] SFMetec commented on #85
[code]

[2021-11-26 16:25] abhiTronix commented on #85
Now ` ls -la /usr/include/sys #verify`

[2021-11-26 16:27] abhiTronix commented on #85
What's the content of `/usr/include/sys`? Do `ls /usr/include/sys`.

[2021-11-26 16:27] SFMetec commented on #85
NO! I removed all files with * without quote! I was stupid

[2021-11-26 16:27] abhiTronix commented on #85
That can't happen, `sudo rm` only works for file.

[2021-11-26 16:28] SFMetec commented on #85
[code]

[2021-11-26 16:28] abhiTronix commented on #85
What all files btw?

[2021-11-26 16:29] abhiTronix commented on #85
These files deleted? You can easily find them on internet, they're just header files.

[2021-11-26 16:30] SFMetec commented on #85
Yes, those

[2021-11-26 16:32] abhiTronix commented on #85
IDK, what's wrong, why it is creating `*` folder? Since you already have removed everything in `sys`, just do `sudo rm -r /usr/include/sys`. And then run `SSymlinker`.

[2021-11-26 16:35] SFMetec commented on #85
[code]

[2021-11-26 16:37] abhiTronix commented on #85
Now search if `/usr/include/arm-linux-gnueabihf/sys/asoundlib.h` exists?

[2021-11-26 16:38] SFMetec commented on #85
No it not exist

[2021-11-26 16:40] abhiTronix commented on #85
The problem is resolved, I'll tell you how to bring back those files but first I need to see something. Run following commands:

[code]
Then run `SSymlinker` again.

And verify:
[code]

[2021-11-26 16:40] SFMetec commented on #85
Tomorrow I retry from the beginning

[2021-11-26 16:41] abhiTronix commented on #85
Not beginning but my previous comment.

[2021-11-26 16:42] SFMetec commented on #85
[code]

[2021-11-26 16:42] abhiTronix commented on #85
This is a bug, thank you, I'll work on it and get back to you tommorrow.

[2021-11-26 16:43] SFMetec commented on #85
Thank a lot

[2021-11-26 18:10] #85 closed

[2021-11-26 18:12] abhiTronix commented on #85
@SFMetec OK I've solved the problem. Try these commands again after re-cloning to test it:

[2021-11-26 18:36] abhiTronix commented on #84
@distlibs @matzrm Can anyone list the version of `gcc` `glibc` `binutils` as follows:

[code]

Paste the output of each line.

[2021-11-27 04:13] distlibs commented on #84
dpkg output:

[code]

[2021-11-27 04:23] distlibs commented on #84
gcc 10.2.1
g++ 10.2.1
glibc 2.31
binutils 2.35.2

[code]

[code]

[code]

[code]

[2021-11-27 04:58] abhiTronix commented on #84
@distlibs Thank you so much. Much appreciated.

[2021-11-28 16:41] abhiTronix commented on #76
@ValentiWorkLearning OK I've found the problem. You need to define linker flags to define `-Wl,-rpath-link` to define exact libs of  old glibc while compiling. See this CMAKE file: https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Cross-Compiler-CMake-Usage-Guide-with-rsynced-Raspberry-Pi-32-bit-OS#2-create-picmake-cmake-file

[2021-11-28 16:41] #76 closed

[2021-11-28 18:21] #84 closed

[2021-11-28 18:23] abhiTronix opened #86 "Support for latest GCC 11 - 14 series"
This proposal is to integrate the latest GCC `v11.2.0` from v11 series to build matrix and deploy them through automated CI builds on sourceforge.

[2021-11-28 18:36] abhiTronix commented on #84
@distlibs @matzrm Bullseye support has been added. Please wait few hours before CI build finishes building the toolchains. 😃

[2021-11-28 19:22] matzrm commented on #84
Well done! Few days ago I have compiled  my GCC 10.2.0 aarch64 version. My
target is try to compile qt6 64bit with eglfs support, but I stopped
because GLdispatch.so lib is not found (bit the libs was here).

Do you will try to compile Qt6 with Kms (not fake Kms)? Can we work
together on it?

Il dom 28 nov 2021, 19:37 Abhishek Thakur ***@***.***> ha
scritto:

[2021-11-29 01:52] abhiTronix commented on #84
@matzrm Not a right place to ask this. But see issue #77

[2021-11-29 07:32] SFMetec commented on #85
I removed the sys folder and after I re-make the directory and resumed the deleted files:

[code]

After that, I downloaded again the SSymlinker but I have the error below:

[code]

[2021-11-29 08:01] abhiTronix commented on #85
Did you tried using `sudo` as follows:

[code]

[2021-11-29 08:04] abhiTronix commented on #85
@SFMetec Yes `sudo`  was missing in script, I've re-added it, now it will work normally.

[2021-11-29 08:13] SFMetec commented on #85
Now this is the contents of sys

[code]

When I make the link on crtn crtn and crt1 the outpus is

[code]

[2021-11-29 09:12] abhiTronix commented on #85
Output is correct, problem solved.

[2021-11-29 09:52] SFMetec commented on #85
Thank a lot, now I'll go on and then I'll inform you if it will be successful

[2021-11-29 13:04] SFMetec commented on #85
Now It works fine!! Thank you so much!!

[2021-11-29 14:48] abhiTronix commented on #85
Nice going! 👍🏽

[2021-11-29 14:53] SFMetec commented on #85
I don't know if depends on my environment but Qt return this error

MESA-LOADER: failed to retrieve device information

[2021-11-29 14:58] abhiTronix commented on #85
It's a mesa bug, use `sudo` with whatever command you're using.

[2021-11-29 15:02] abhiTronix commented on #85
@SFMetec Also searching this I found this: https://forums.raspberrypi.com/viewtopic.php?t=193902 this error is because stretch provides old libdrm library which is incompatible with newer MESA, so you need to manually upgrade it.

[2021-11-29 15:08] SFMetec commented on #85
I've installed the latest version of stretch

`libdrm-dev is already the newest version (2.4.74-1).`

[2021-12-04 11:21] f-laurens opened #89 "Cross compiler toolchains for Bullseye fail to compile simple program?"
I am attempting to use the cross compiler toolchains for Bullseye to build Python, and the Python build 'configure' step detects that the compiler is not able to compile a simple program:
[code]
I do not have the problem when using the equivalent toolchains for Buster.

[2021-12-04 11:37] abhiTronix commented on #89
I think Bullseye toolchains are broken, I'm seeing plenty of issues regarding it. I'll look into it.

[2021-12-04 11:39] f-laurens commented on #89
Thanks!

[2021-12-04 13:01] abhiTronix commented on #89
@f-laurens **Apparently there's a bug with GCC 10.2.0 when built with Glibc 2.31: https://sourceware.org/pipermail/glibc-cvs/2020q1/069150.html** and committed here: https://sourceware.org/pipermail/libc-alpha/2020-May/113553.html but never was backported to Glibc 2.31 branch.

[2021-12-04 13:05] abhiTronix commented on #89
Here's what author said:

[2021-12-04 13:23] abhiTronix commented on #89
I think we need to apply patch directly to `math/Makefile`.

[2021-12-04 15:24] abhiTronix commented on #89
**Successfully resolved and merged in commit https://github.com/abhiTronix/raspberry-pi-cross-compilers/commit/e7353d20f6a134a44ab672afee4a301947b521b9**

[2021-12-04 15:25] abhiTronix commented on #89
@f-laurens Please wait till updated binaries are release. I'll inform you here.

[2021-12-05 04:49] #89 closed

[2021-12-05 10:06] abhiTronix commented on #89
@f-laurens There were way too many bugs with both GCC and Glibc. `v3.0.9` toolchains are in build and soon be available.

[2021-12-05 11:13] abhiTronix commented on #89
**This issue has been resolved in Toolchains version `v3.0.9`. Download it from here: https://sourceforge.net/projects/raspberry-pi-cross-compilers/files/Raspberry%20Pi%20GCC%20Cross-Compiler%20Toolchains/**

[2021-12-05 13:19] f-laurens commented on #89
The new version of the Bullseye cross toolchains indeed solves my problem.
Thanks!

[2021-12-11 13:46] distlibs opened #90 "Bullseye Toolchain Error: selected processor does not support `vsdot.s8 q10,q9,d4[0]' in ARM mode"
I was trying to compile tensorflow-lite 2.7 with Raspberry Pi GCC Cross-Compiler Toolchains (Bullseye). I got error:

<pre>
...
[ 73%] Building C object _deps/xnnpack-build/CMakeFiles/XNNPACK.dir/src/qc8-igemm/gen/1x16c4-minmax-fp32-neondot.c.o
[ 73%] Building C object _deps/xnnpack-build/CMakeFiles/XNNPACK.dir/src/qc8-igemm/gen/4x8c4-minmax-fp32-neondot.c.o
[ 73%] Building C object _deps/xnnpack-

[2021-12-11 16:46] abhiTronix commented on #90
@distlibs Thanks for bug report. What I'm understanding is that GCC `9-to-11` series is affected by this bug when Binutils `>2.33` is used. More specifically Binutils `2.35.1` used in Bullseye is affected is causing this bug. Moreover, this bug is already fixed in master branch of [GCC `>9`](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=101723) but haven't been included in releases branches like [`

[2021-12-11 17:57] distlibs commented on #90
Binaries cross-compiled with GCC 10.3.0 will be compatible with Raspberry Pi 4 which runs Bullseye with GCC 10.2.1?

[2021-12-12 02:50] abhiTronix commented on #90
Yes, aren't you using Raspberry Pi GCC-10.3.0 Native-Compiler Toolchains (Bullseye) right now? The GCC version doesn't matter, but only  GLIBC, KERNEL and BINUTILS version matters, which remains the same.

[2021-12-12 03:13] distlibs commented on #90
I am using right now GCC-**10.2.0** Raspberry Pi GCC **Cross-Compiler** Toolchains (Bullseye). I made mistake I updated original post.

[2021-12-12 03:39] abhiTronix commented on #90
Yes, you can use GCC-10.3.0 instead.

[2021-12-12 04:14] distlibs commented on #90
So I need to wait until you clone patched `releases/gcc-10` branch directly and pre-compile GCC 10.3.0 binaries for Bullseye? New Raspberry Pi GCC 10.3.0 Cross-Compiler Toolchains (Bullseye) binaries will be uploaded SourceForge where I can download?

[2021-12-12 10:09] abhiTronix commented on #90
You need to wait untill `v3.1.0` Toolchains are released, and thereby uploaded to Sourceforge after successful compiling. Thereby, You can `watch` to get notify when that happens.

[2021-12-12 10:49] abhiTronix commented on #90
@distlibs Patch has been added. Please wait for CI workflows to finish and then I'll make the release.

[2021-12-12 12:15] abhiTronix commented on #90
@distlibs `v3.10-alpha` toolchains are in build and soon be available on Sourceforge.

[2021-12-13 02:33] abhiTronix commented on #90
This issue has been resolved in the latest Toolchains version `v3.1.0-alpha` and GCC-10.3.0. Download it from here: https://sourceforge.net/projects/raspberry-pi-cross-compilers/files/Raspberry%20Pi%20GCC%20Cross-Compiler%20Toolchains/Bullseye/GCC%2010.3.0/

[2021-12-13 02:33] #90 closed

[2021-12-13 02:47] distlibs commented on #90
Thanks. Compilation finished successfully using GCC-10.3.0 Raspberry Pi Cross-Compiler Toolchains (Bullseye).

[2022-01-04 14:08] Iuliean opened #91 "Raspberry pi zero W Illegal instruction"
I downloaded the 8.3.0 Buster toolchain and followed the instructions from C1 from [here](https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Cross-Compiler:-Installation-Instructions)
and  after compiling a simple  hello world program i get  `Illegal instruction` when i run it on my pi zero

I compiled with `arm-linux-gnueabihf-g++ test.cpp -o test` and with `arm-linux-gnueabihf-g++ -

[2022-01-04 16:50] abhiTronix commented on #91
@Iuliean Which toolchain, can you paste the exact URL of the toolchain you used? Also, what's your setup, which machine you're using?

[2022-01-04 17:13] Iuliean commented on #91
https://sourceforge.net/projects/raspberry-pi-cross-compilers/files/Raspberry%20Pi%20GCC%20Cross-Compiler%20Toolchains/Buster/GCC%208.3.0/

this is the toolchain i downloaded.  i am compiling it on a virtual box vm which runs manjaro for a raspberry pi zero w which runs raspbian (debian 10 )

[2022-01-05 07:48] abhiTronix commented on #91
@Iuliean Well isn't that obvious that it will give error? You are trying to execute binary that is cross-compiled for ARM32(raspberry pi) on a AMD64(virtual box vm which runs manjaro), that's why it it is giving this error, instead you need to execute it on raspberry pi(zero w) after compiling. Learn more about Cross-compiling here: https://stackoverflow.com/a/897303/10158117

[2022-01-05 07:48] #91 closed

[2022-01-05 08:02] abhiTronix commented on #91
@Iuliean Sorry for previous comment, This is not it, you're definitely using wrong toolchain for your raspberry pi.  "Illegal instruction" means you're trying to run a program that was compiled for specific processor, and is then running on a processor that fails to meet those requirements. Are you sure you running it on  pi zero?

Also, this is incomplete, I need exact Toolchain URL you used, oth

[2022-01-05 11:15] Iuliean commented on #91
Yeah i am so sorry, i was using the wrong toolchain i didn't notice that the link redirects to a place where multiple toolchains are available and i just downloaded whatever was at the top, i downloaded the correct toolchain now and the simple hello world program works now. Thanks a lot and i am sorry

[2022-01-07 04:22] abhiTronix commented on #91
No, you specify them in CMAKE file or you specify during configure/make command.

[2022-01-10 11:23] Mins0o opened #92 "Potential mistake in the wiki for <Cross Compiler CMake Usage Guide with rsynced Raspberry Pi 64 bit OS>"
In the [|host: x86_64|target: arm64 raspOS| cross-compile wiki](https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Cross-Compiler-CMake-Usage-Guide-with-rsynced-Raspberry-Pi-64-bit-OS#:~:text=sudo%20chmod%20%2Bx,usr/lib/crti.o), there seems to be a typo where all the directory contains an extra `/asm`.

I am still trying to follow the instruction with my fix (removing it), to check if

[2022-01-10 12:14] Mins0o commented on #92
\+ openssl is not in `/usr/include/aarch64-linux-gnu/openssl`, giving error of
```/usr/include/aarch64-linux-gnu/openssl is not valid source file/directory. Aborting!```

 What should I do?

[2022-01-10 12:57] abhiTronix commented on #92
/usr/include/aarch64-linux-gnu/openssl is not valid source file/directory. Aborting!

@Mins0o leave it, it means openssl is not installed on your pi. It's not a critical dependency, so just skip it.

+ command rsync -avz --rsync-path="sudo rsync" --delete pi@192.168.1.47:/opt/vc rootfs/opt fails with the error:

rsync: link_stat "/opt/vc" failed: No such file or directory (2)
sent 8 bytes  receive

[2022-01-10 13:01] abhiTronix commented on #92
@Mins0o I've corrected the `asm` typo in docs. I'm closing this.

[2022-01-10 13:01] #92 closed

[2022-01-10 13:57] Mins0o commented on #92
Aha seems like 64bit OSes [does not have /opt/vc](https://raspberrytips.com/raspberry-pi-os-64-bits-vs-32-bits/#:~:text=libraspberrypi0%2C%20libraspberrypi%2Ddev%20and%20libraspberrypi%2Ddoc%20have%20been%20moved%20out%20of%20/opt/vc/*%20and%20into%20/usr/*%20instead%20(making%20it%20more%20standard).%20Any%20code%20built%20against%20these%20libraries%20will%20require%20changing%20to%20refer%20to%

[2022-01-10 14:55] Mins0o opened #93 "cross-pi-gcc-64 fails on debian-stretch on WSL2"
I was following the wiki and encountered this issue, with other version of gcc toolchains too (8.3.0, I believe).
Using `sudo` did not help.

I tried the same process on ubuntu on WSL2, and that didn't have any issues until this point. (It has other issue...)

This is the error I get at the last step, on Debian but not on Ubuntu.
[code]

I don't think fix is necessary since installing Ubuntu on WS

[2022-01-10 15:10] abhiTronix commented on #93
I don't know what debian stretch does to files. Maybe some files are moved. Or packages are installed in other directories. All and all avoid debian for now.

[2022-01-10 15:13] abhiTronix commented on #93
@Mins0o Also while cross compiling complex libraries, avoid GCC 10.3.0 and use base toolchains like GCC 8.3.0 in buster, or GCC 10.2.0 in bullseye.

[2022-02-07 09:18] Nickellick opened #94 "qmake built for x86"
I want to use the latest version of Qt5 for Raspberry Pi 4B for PySide2. However, when building the PySide2 library, there are problems running qmake.
After a bit of research, it turned out that qmake was somehow compiled for x86. All other binaries compiled correctly for ARM.

So, if I run (on target, of course)
`cd /usr/local/qt5.15/bin`
and try to check binary with
`file qmake`
It ouputs:
```qm

[2022-02-07 09:47] abhiTronix commented on #94
How did you build qmake?

[2022-02-07 10:31] Nickellick commented on #94
I don't actually specify what to build. I just used your [guide](https://github.com/abhiTronix/raspberry-pi-cross-compilers/blob/master/QT_build_instructions.md) (BTW it was very helpful, thanks!)

[2022-02-07 10:45] Nickellick commented on #94
Important to mention:
I'm using Ubuntu 21.10 as "compiler machine" with gcc 11.2. Because of this, I had some problems with "numeric limits". I added the line
[code]
within the `#ifdef __cplusplus` block to the file
`~/rpi-qt/build/qtbase/src/corelib/global/qglobal.h`

and `-no-pch` parameter to configure, so it looked like this
`
../qt-everywhere-src-5.15.2/configure -release -opengl es2  -eglfs

[2022-02-08 08:22] Nickellick commented on #94
After configure, I just type `make`. My guess  is that it builds the tools for the host machine by compiler on the host machine, uses them, and then builds binaries for target. All other binaries except `qmake` are built for target.
Of course, I ran `make install` after the build.

[2022-02-08 08:44] abhiTronix commented on #94
But what are you using GCC 11.2 for?

[2022-02-08 14:09] Nickellick commented on #94
I don't explicitly use it. As I wrote above, it is used automatically when I run the `make` command inside the `build` folder. The command for `configure` and its summary shown above.

All other binaries are compiled for target, so I'm pretty sure the cross-compiler works fine. Also:

[2022-02-08 15:54] maxpavlov opened #95 "Why cross-compilers are needed?"
Hello.

Thanks for the excellent work on the cross-compilers. I was trying to compile node-webrtc bindings for armv6 RPi0, it failed but it was a heck of a ride :)

Could you please clarify, why sometimes a cross-compiler is required, even if there is access to a target system. Why can't one compile on Raspberry Pi Zero for it and needs to use a cross-compiler?

The second question is - some of th

[2022-02-08 17:10] abhiTronix commented on #95
Basically, In embedded Linux based system(like Raspberry Pi, Nvidia Xavier) development , cross-compilation toolchains are used to compile source code of four main components on the Host machine. These four main components are bootloader, root file system, Linux Kernel and main application. The main reason to use a host machine is that usually target devices do not have enough resources to compile

[2022-02-08 17:10] #95 closed

[2022-02-11 07:56] Nickellick commented on #94
Thanks a lot! But please tell me which version of GCC (regular, not for cross-compilation, not for RPi) is installed on your PC? I'll try building QT a few more times with a different environment to see what's going on.

And please listen to me. I don't blame you or your guide. I'm convinced it really works, and it works great. I see this has been tested many times by other people. I just want to

[2022-02-11 08:36] abhiTronix commented on #94
Sorry but I've to close this. This not a forum.

[2022-03-05 16:49] benoit-09 opened #96 "RTBuilder_32b -g 10.2.0 -r 0-1 -o bullseye"
Hello,

I encountered an error at line 212: rm ./*.tar.*
this seems appears because you git Glibc and there is no tar file.

[2022-03-08 11:15] abhiTronix commented on #96
@benoit-09 I know and its intentional.

[2022-03-08 11:15] #96 closed

[2022-03-25 11:25] EntnyJill opened #97 "Deploy compiled code"
Hello. I've followed instructions about cross-compilation and successfully got compiled files. But how can I deploy it to Raspberry? What about deploy scripts for it? And another questions related with it:
1) how can I build and deploy projects with libraries like OpenCV?
2) how can I remotely debug such cross-compiled projects?

[2022-03-30 08:56] abhiTronix commented on #97
@EntnyJill you'll need to take ideas from QT instructions https://github.com/abhiTronix/raspberry-pi-cross-compilers/blob/master/QT_build_instructions.md#11-deploy-qt-to-raspberry-pi, they're not different for opencv but you need to add the deployed folder to your system path. Once done, call `sudo ldconfig <path of lib directory in build folder you just rsynced>` and you're done. Or if that didn'

[2022-03-30 08:56] #97 closed

[2022-03-30 15:15] WalterPrech opened #98 "Cross compile error with Raspberry Pi OS Lite Bullseye"
Hi,
I'm following the step-by-step instructions for cross compiling Qt for Raspberry Pi.

I set up a Raspberry Pi 4 with 32bit Raspberry Pi OS Lite. Also I set up a virtual machine with Ubuntu 20.04 LTS as host to cross compile.

On the Pi 4 I can't enable GL (FAKE KMS) with sudo raspi-config (there is no Advanced Options -> A8 GL Driver -> G2 GL (Fake KMS) available).
Also the directory /opt/vc i

[2022-03-31 12:19] WalterPrech commented on #98
I found a solution/patch to complete cross compiling the Qt libraries for Raspberry Pi4.

Using this patch, solves the error:
[code]

[2022-03-31 12:26] abhiTronix commented on #98
@WalterPrech Thanks that will be helpful for others.

[2022-03-31 12:26] #98 closed

[2022-04-12 14:13] PaulPaulaner opened #99 "Cross compile error with Raspberry Pi4 OS Bullseye"
Hi, I'm following the step-by-step instructions for cross compiling Qt for Raspberry Pi4.

I set up a Raspberry Pi 4 with 32bit Raspberry Pi OS Bullseye. Also I set up a virtual machine with Ubuntu 21.10  as host to cross compile.

On the Pi 4 I can't enable GL (FAKE KMS) with sudo raspi-config (there is no Advanced Options -> A8 GL Driver -> G2 GL (Fake KMS) available). Also the directory /opt/vc

[2022-04-12 14:23] abhiTronix commented on #99
I guess we need additonal instructions for pi 4 since FAKE KMS is no longer available for the same. I'll try to arrange pi4(unfortunately don't have it right now) from someone and work on this issue.

[2022-04-28 14:44] H-G-Hristov commented on #86
And GCC 12 :)

[2022-04-29 20:31] sleeperss opened #102 "Broken adress_sanitizer in gcc10.3 (+durty patch)"
Hi,

When cross-compilling with the address sanitizer for bulleyes I get the following error at link time :
```/opt/cross/tools/bin/../lib/gcc/aarch64-linux-gnu/10.3.0/../../../../aarch64-linux-gnu/bin/ld: program_name: hidden symbol `__aarch64_ldadd8_acq_rel' in /opt/cross/tools/bin/../lib/gcc/aarch64-linux-gnu/10.3.0/libgcc.a(ldadd_8_4.o) is referenced by DSO```

It seems to be an error from gcc

[2022-04-29 20:36] sleeperss opened #103 "rm *.tar.* makes the builder to stop"
Hi,

In the builderscript there is multiple ```rm *.tar.*``` that doesn't remove anything (for example if we enter an if that use git instead of a tarball as in lines 184-195).

But without the -f option it leads the script to stop.

Solution : add the -f argument to each rm lines.

[2022-04-30 05:55] abhiTronix commented on #102
@sleeperss Thanks I'll look into this and make necessary changes.

[2022-04-30 05:56] abhiTronix commented on #103
@sleeperss Again thanks for this suggestion. Any related PR will always be welcomed. 😃

[2022-05-06 08:26] jagannathmurali opened #104 "rsync: [sender] link_stat "/opt/vc" failed: No such file or directory in Raspberry Pi"
<pre>rsync -avz --rsync-path=&quot;sudo rsync&quot; --delete pi@192.168.1.135:/opt/vc sysroot/opt
receiving incremental file list

sent 8 bytes  received 7 bytes  2.73 bytes/sec
total size is 0  speedup is 0.00
rsync: [sender] link_stat &quot;/opt/vc&quot; failed: No such file or directory (2)
rsync error: some files/attrs were not transferred (see previous errors) (code 23) at main.c(1677) [Recei

[2022-05-06 10:01] jagannathmurali commented on #104
<pre> sudo apt-get update
sudo rpi-update</pre>
This worked.

[2022-05-06 10:01] #104 closed

[2022-05-11 02:04] Margelator opened #105 "cannot find crt1.o: No such file or directory"
Note: Also available for Linux: linux-clang linux-icc

ERROR: Cannot compile a minimal program. The toolchain or QMakeSpec is broken.

[2022-05-11 02:24] abhiTronix commented on #105
Did you checked if all the folders rysnced properly before compiling? Also, did you make any changes to instructions given in our guide? And finally what's your environment(Host OS, Target OS, Host machine, Target machine)?

[2022-05-11 02:28] Margelator commented on #105
Yes,i checked.
no change.
Host OS Ubuntu20.04

[2022-05-11 02:29] Margelator commented on #105
Yes,i checked.
no change.
Host OS Ubuntu20.04
Target OS Raspberry Pi OS with desktop bullseye

[2022-05-11 02:30] abhiTronix commented on #105
Target machine?

[2022-05-11 02:32] Margelator commented on #105
Yes,i checked.
no change.
Host OS:Ubuntu 20.04.4 LTS
Target OS:Raspberry Pi OS with desktop bullseye.
Host machine: x86_64 Intel(R) Core(TM) i5-5200U CPU @ 2.20GHz
Target machine: Raspberry Pi 4B

[2022-05-11 02:36] abhiTronix commented on #105
Looks like sysroot issue. Can you paste the URL or Name of Toolchain you downloaded from sourceforge for compiling?

[2022-05-11 02:38] Margelator commented on #105
OK.
https://sourceforge.net/projects/raspberry-pi-cross-compilers/files/Raspberry%20Pi%20GCC%20Cross-Compiler%20Toolchains/Bullseye/GCC%2010.2.0/Raspberry%20Pi%203A%2B%2C%203B%2B%2C%204/cross-gcc-10.2.0-pi_3%2B.tar.gz

[2022-05-11 02:57] abhiTronix commented on #105
You setup is fine, but sysroot is problematic. You either missed a step or sysroot isn't properly configured. Can you go to rootfs folder and run this command:

[code]

Then paste result here. Aslo paste the content of PI. cmake file.

[2022-05-11 03:27] Margelator commented on #105
OK.
sysroot_result.html url is here:  https://t.wss.ink/f/8acc8co2ey5
home_user_result.html url is here:  https://t.wss.ink/f/8accrd68tzh
sorry,i don't know PI.cmake

[2022-05-11 04:01] abhiTronix commented on #105
Aren't you following this guide? https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Cross-Compiler-CMake-Usage-Guide-with-rsynced-Raspberry-Pi-32-bit-OS#cross-compiler-cmake-usage-guide-with-rsynced-raspberry-pi-32-bit-os

[2022-05-11 04:09] Margelator commented on #105
No, I only follow this guide:
https://github.com/abhiTronix/raspberry-pi-cross-compilers/blob/master/QT_build_instructions.md

[2022-05-11 04:41] abhiTronix commented on #105
Then this issue is cannot be resolved currently, as QT is broken for new bullseye OS since FAKE KMS is no longer available for this OS, See #101 #88. But you can try bare-minimum example given in https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/Cross-Compiler-CMake-Usage-Guide-with-rsynced-Raspberry-Pi-32-bit-OS#cross-compiler-cmake-usage-guide-with-rsynced-raspberry-pi-32-bit-os to

[2022-05-11 04:56] Margelator commented on #105
OK, Thank you very much for your reply.

[2022-05-11 04:59] abhiTronix commented on #105
I'm closing this now, and will be resolved with #101 and other related issues.

[2022-05-11 04:59] #105 closed

[2022-05-23 05:41] kingsimba opened #106 "cmake can't find RT library"
I tried to install GCC 10 on 64 bit raspberry-pi(Debian Buster). And followed this instruction:

https://github.com/abhiTronix/raspberry-pi-cross-compilers/wiki/64-Bit-Native-Compiler:-Installation-Instructions

I can compile a simple "hello_world.cpp". But ROS `catkin_make` and encountered the following error:

[code]

The cmake file contains:

[code]

I guess some `*.cmake` files are not linked

[2022-05-23 05:46] abhiTronix commented on #106
@kingsimba Are you sure this is Toolchain error? Check again: https://answers.ros.org/question/297453/rt_library-notfound-unset-message-rt-library/

[2022-05-23 05:46] #106 closed

[2022-05-23 06:29] kingsimba commented on #106
I tried to add some message in cmake.

[code]

Before installing gcc. It shows:

[code]

After installing. It shows:

[code]

[2022-05-23 06:31] kingsimba commented on #106
I think I know what's going wrong. `librt.so`, `libthread.so`(and many more) should also be linked.

[2022-05-23 06:37] kingsimba commented on #106
By executing the following additional commands. `catkin_make` works as usual.

[code]

[2022-06-03 21:35] patrick0888 opened #107 "Pi Zero 2 W"
Which compiler is needed for the Pi 2 W?

[2022-07-23 06:38] staticmem opened #108 "Multiple cross-compilers"
Is it possible to have more than one abhiTronix Raspberry Pi cross compiler tool chains installed so that the Include, LIBs, etc. paths don't conflict?

Am I correct in assuming that the Raspberry Pi Model 1 (32 bit) cross compiler code  can be executed on any model as long as those models have the required 32 bit libs installed too.  That works for me at present but I may want to use 64 bit coded

[2022-07-24 14:25] abhiTronix commented on #108
Yes, All cross-compiler are path specific. So as long as paths are handle properly, there will no conflict.

No,  Raspberry Pi Model 1 (32 bit) cross compiler code will work only on **Raspberry Pi - Zero/W/WH & 1 Model A/B/A+/B+** models not on any others. On top of that, Raspberry Pi Model 1 (32 bit) cross compiler code built using **_Raspberry Pi GCC Cross-Compiler Toolchains (Bullseye)_** only

[2022-07-24 14:25] #108 closed

[2022-10-19 13:05] larsk2009 opened #112 "crt1.o: No such file or directory."
Hi,

Thanks for this project. I am getting this error: `cannot find crt1.o: No such file or directory` and `cannot find crti.o: No such file or directory` while cmake tries to compile the "simple test program". I looked trough some existing issue but I couldn't fix it. I see that my sysroot does contain these files so I am unsure what the issue is. Do you have any ideas?